[2018-04-02 10:50] leinardi opened #4 "FAB icons rotate only once"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `1.0-alpha02`
 - Android version: `all`
 - Support library version: `27.1.0`
 - Device brand: `Google`
 - Device model: `Emulator`

### S

[2018-04-02 11:00] #4 closed, assigned to leinardi

[2018-04-07 13:13] leinardi opened #8 "Different color for open/closed main FAB"
As a user I want to be able to set a different color for the main FAB when the menu is open.

[2018-04-07 13:17] leinardi opened #9 "test issue"
### Step 1: Are you in the right place?
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests
- [ ] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `?`
 - Android version: `?`
 - Support library version: `?`
 - Device brand: `?`
 - Device model: `?`

### Step 3: Describe the problem:

[2018-04-07 14:23] #9 closed, assigned to nobody

[2018-04-08 07:49] leinardi opened #10 "Add label to main FAB"
Add a label also to the main FAB, so that can be used to replicate the exact same behavior of Inbox by Gmail and Calendar apps.

Since I would like to use the `FabWithLabelView`, this requires #11.

[2018-04-08 07:51] leinardi opened #11 "Add action FAB size option"
Allow to use size normal for the Speed Dial action items

[2018-04-08 07:51] leinardi commented on #11
Blocked by https://issuetracker.google.com/issues/77303906

(please star the issue to make it more visible)

[2018-04-08 07:53] leinardi commented on #10
Since I would like to use the `FabWithLabelView`, this is blocked by #11

[2018-04-08 08:01] leinardi opened #12 "Add missing Javadoc"
Add missing Javadoc to classes and methods.

[2018-04-08 08:02] leinardi opened #13 "Write tests"
Write UnitTests and Espresso tests

[2018-04-08 10:04] leinardi opened #14 "Better naming for `SpeedDialView` methods and fields"
Align the naming of methods and fields (rename Fab option to Speed dial action and Fab menu to Speed Dial).

[2018-04-08 10:16] emansih opened #15 "Add Support for drawable in SpeedDialActionItem#Builder"
I was wondering if you could add support for drawable for SpeedDialActionItem#Builder? Currently it takes in int, int as an argument. Would be nice if it takes in int,drawable as an argument too.

[2018-04-08 10:18] emansih commented on #15
Use case:

`
 speedDialView.addAllFabOptionItem(
                new SpeedDialActionItem.Builder("Mail",
                        new IconicsDrawable(requireContext())
                .icon(GoogleMaterial.Icon.gmd_mail))
                .create());
`

[2018-04-08 10:59] leinardi commented on #15
Hi @emansih, I had already this idea but I have not implemented it yet. I will do for sure soon :+1: .

[2018-04-08 12:26] #14 closed, assigned to leinardi

[2018-04-08 14:15] leinardi commented on #15
Hi @emansih, I made a PR that implement the new constructor. If you have time please have a look.

[2018-04-08 15:14] leinardi opened #18 "Replace codacy with a gradle plugin"
Codacy doesn't support Lint and newer versions of Checkstyle, replace it with https://github.com/tomasbjerre/violation-comments-to-github-gradle-plugin

[2018-04-08 20:50] #18 closed, assigned to leinardi

[2018-04-08 21:10] #15 closed, assigned to leinardi

[2018-04-08 21:37] leinardi opened #20 "Add support for error-prone"
Add support for Google error-prone.

[2018-04-08 22:06] #20 closed, assigned to leinardi

[2018-04-10 19:46] leinardi opened #23 "Fix javadoc error"

[2018-04-10 19:59] #23 closed, assigned to leinardi

[2018-04-10 20:29] leinardi opened #25 "Automatically close when action is selected"
@babramovitch

[2018-04-10 21:09] leinardi opened #27 "Add support for NullAway"

[2018-04-11 09:10] #25 closed, assigned to leinardi

[2018-04-11 12:51] #27 closed, assigned to leinardi

[2018-04-13 18:34] leinardi opened #29 "Allow using Menu Resource"
Allow adding Action Items using a Menu Resource. It will be possible to set only the ID, the icon and the label, no color customization at all.

[2018-04-14 02:59] emansih commented on #15
Just got back and tested it. Thanks!

[2018-04-14 05:10] jahirfiquitiva opened #30 "Reduce the space between main FAB and action FABs"
### Step 1: Are you in the right place?
- [X] I have verified there are no duplicate active or recent bugs, questions, or requests
- [X] I have verified that I am using the latest version of the library.

### Step 2: Describe the problem:
Basically, I would like all FABs to have the same vertical spacing. Currently the space between the main FAB and the first action FAB is bigger than the space be

[2018-04-14 05:33] jahirfiquitiva commented on #4
I think this still happens. At least on the sample app from Play Store, the main fab icon does not go back to the + icon, after closing the speed dial view

[2018-04-14 05:54] jahirfiquitiva opened #31 "Reduce min api to 14"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

I don't think the project would suffer much from setting a lower min api level, plus it could be used by more projects :smiley:

Thanks

[2018-04-14 08:16] leinardi commented on #4
Oh you are right, I forgot to update the Play Store app. I tested the latest master and it is fixed. I will update the Play Store asap.

[2018-04-14 08:21] leinardi commented on #31
Fair enough. I skipped API 14 because I cannot test on it (I tried to use the AVD but they don't even boot on API 14 with the latest Emulator) and since this API level isn't even mentioned in the [Dashboard](https://developer.android.com/about/dashboards/index.html) I thought it wasn't a problem to just drop it.

But if you think it will be better to have it, I will add it on the next alpha04 :+1:

[2018-04-14 08:30] #31 closed, assigned to leinardi

[2018-04-14 08:52] leinardi commented on #30
This request is not really compliant with the Speed Dial demo of the official Material Design and the behavior of Inbox by Gmail:
![image](https://user-images.githubusercontent.com/273338/38766389-d71752dc-3fd1-11e8-9b3b-8d29633dd7e6.png) ![image](https://user-images.githubusercontent.com/273338/38766285-ebe001c0-3fcf-11e8-95a5-1cf7d61fc324.png)

Unfortunately this change is more difficoult that w

[2018-04-14 10:33] #8 closed, assigned to leinardi

[2018-04-15 01:15] jahirfiquitiva commented on #31
Great! Thank you :smile:

[2018-04-15 01:16] jahirfiquitiva commented on #30
I understand your decision, but yeah, I would like to see it with the smaller spacing in a future release :blush: Thanks!

[2018-04-15 11:46] leinardi opened #37 "Improve Sample app"
Provide a way to change at runtime the most common Speed Dial settings (eg, show/hide, show Snackbar, change Expansion mode, rotate angle, etc).

[2018-04-15 13:21] #37 closed, assigned to leinardi

[2018-04-15 14:17] #29 closed, assigned to leinardi

[2018-04-16 09:09] KunaalKumar opened #40 "Bug with hiding the FAB when scrolling a RecyclerView"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `1.0-alpha04`
 - Android version: `8.1`
 - Device brand: `Google`
 - Device model: `Pixel 2 XL`

### Step 3: Describe the problem:
Fab st

[2018-04-16 09:19] KunaalKumar commented on #40
Hot fix that worked for me

[code]

[2018-04-16 10:21] leinardi commented on #40
Thanks for the bug report, I will look into it.

[2018-04-16 17:06] leinardi commented on #40
Hi @KunaalKumar, I should have fixed this bug. If possible please try this snapshot and let me know if is working for you:

https://jitpack.io/#leinardi/FloatingActionButtonSpeedDial/feature~#40-recyclerview-bug-SNAPSHOT

This snapshot has some API changes, please have a look at the [changelog](https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/master/CHANGELOG.md).

[2018-04-16 23:07] KunaalKumar commented on #40
Hey,

I think I'm missing something.

Should I be checking if the view is scrollable(like in the hot fix above) in the onMainActionSelected and return true or false accordingly?

Because that doesn't work as the onClickListener for the fab isn't called as i'm deleting views from the recyclerview.

[2018-04-16 23:26] KunaalKumar commented on #40
On further review, looked like I was using the wrong version of the build.
If I'm not mistaken, I should be implementing the build from the branch called:

I can't seem to implement it into my buiid.gradle

[2018-04-16 23:51] leinardi commented on #40
Mmm I am not sure I got it, were you able to get the snapshot to build? You need to add this to your gradle:

Add it in your root build.gradle at the end of repositories:

[code]

Add the dependency
`implementation 'com.github.leinardi:FloatingActionButtonSpeedDial:feature%7E#40-recyclerview-bug-SNAPSHOT' `

What I posted before was a link to the instructions, not the dependency itself.

[2018-04-16 23:53] #40 closed, assigned to leinardi

[2018-04-16 23:56] KunaalKumar commented on #40
Yep, did just that says

Not sure what I'm doing wrong. Using the master branch dependency works but not for the #40 branch

[2018-04-16 23:56] leinardi commented on #40
In case the branch name is messing with jitpack.io, I have merged the PR on master, you can test with this snapshot:

`implementation 'com.github.leinardi:FloatingActionButtonSpeedDial:41ae2441b8'`

Please let me know if works or not.

[2018-04-17 00:00] KunaalKumar commented on #40
That did it !

Bug's resolved, thanks !

[2018-04-20 13:23] jahirfiquitiva opened #45 "Close animation duration is too short"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe the problem:

Hello
I think the close animation duration is too short that said animation is basically inexistent. I'm not sure if it's the duration or actually lack of anima

[2018-04-20 13:40] jahirfiquitiva opened #46 "Put some restrictions to the amount of FABs in SpeedDialView"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe the problem:

[Material Design](https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions) guidelines mention:

[2018-04-20 21:03] leinardi commented on #46
Hey, thanks for your feedback, I agree, the guideline says that you **should** not have more than six, but does not says you _must_ not have it so, a restriction seems too much. In special cases can be useful and making the app crash it seems too much.

[2018-04-20 21:03] #46 closed, assigned to nobody

[2018-04-20 21:47] leinardi commented on #45
Hey, actually there is a closing animation and is the same that you can see in the [Material Design](https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions) guidelines and in Inbox by Gmail. The animation is a fade and the length is the one of a short animation: https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/31ea2622

[2018-04-21 13:18] jahirfiquitiva commented on #45
@leinardi
I knew you were going to say that it was made that way because of that, but I still think the same animation but reversed would look better.
And as I mentioned in the first comment, an option to enable/disable it would be perfect for those who might not like it.

[2018-04-21 13:21] jahirfiquitiva commented on #46
@leinardi
You don't have to make the app crash. You can, for example, return a boolean with the method that adds the buttons, and if it exceeds the max count, simply return false.
The apps look really bad when having more than that and it's overcomplicating the use of the component, which implementation could probably fit in another kind of view.

[2018-04-22 21:03] #45 closed, assigned to leinardi

[2018-04-22 21:04] leinardi commented on #45
Hi @jahirfiquitiva, you can set a custom value for the duration overriding this values:

[code]

[2018-04-24 14:49] jahirfiquitiva commented on #45
@leinardi
I don't think that could suffice if the animation is a simple fade. 😕

Is it possible that you can make an option to use the same animation as opening, but in reverse order? 🤔🙏🏻

[2018-04-24 15:10] leinardi commented on #45
I will keep it in mind but currently is not something that I can work on any time soon. But feel free to make a PR for this feature (just be sure to allow the user to set this from both XML and programmatically and, by default, should be the current animation).

[2018-04-27 13:58] HowardSchmaeu commented on #10
YESS !!! That would be nice to have!!!

[2018-05-03 14:08] instantiator opened #49 "error: cannot access AttachedBehavior"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: com.leinardi.android:speed-dial:1.0-alpha05
 - Android version: 7.0
 - Support library version: 26.1.0
 - Device brand: Samsung
 - Device

[2018-05-03 14:14] leinardi commented on #49
Hey, I suspect is due to the version of the support library that you are using (`26.1.0`). Could you please try with the same version that the library is using (`27.1.1`)?

If it happens also with the new version of the library, could you please let me have a sample project where I can reproduce the issue?

[2018-05-03 14:15] instantiator commented on #49
Thanks so much for the fast response! I was just coming to the same conclusion, and am currently downloading v27, and preparing to work against 27.1.1 for all the support libs. I'll update you ASAP.

[2018-05-03 14:23] instantiator commented on #49
Hmm... I have upgraded to v27 and the 27.1.1 libraries. I also upgraded ButterKnife from 8.6.0 to 8.8.1 in case there was a problem there, too

 Unfortunately, I'm still seeing the exact same build issue.

I'm not sure why it refers me to the java source code. The source itself seems fine - but I guess it needs some kind of anchor point and in the absence of one in my code it must just be choosing

[2018-05-03 14:28] leinardi commented on #49
I'm sorry to hear that the library update did not help. Unfortunately without being able to reproduce I cannot do much. Maybe you could try to use this library sample code and try to replicate the issue there.

Let me know.

[2018-05-03 14:29] instantiator commented on #49
Some additional information that may help:

- This problem does not seem to occur at alpha03.
- I've tested: alpha03, alpha04, alpha05.

For now I've rolled back to alpha03, as I don't think alpha05 helps me anyway. (I was hoping for an option to be able to control the truncation and/or font-size of the labels.)

I may not be able to produce a project today for you as I'm going to have to get back

[2018-05-03 14:37] leinardi commented on #49
Thanks for the additional info.

You can control the width of the label and, consequently, where the text will be truncated, overriding the dimen `sd_label_max_width`: https://github.com/leinardi/FloatingActionButtonSpeedDial#how-can-i-change-the-maximum-length-of-the-label
You can change the label text size overriding the style `SpeedDial.FabLabelStyle`: https://github.com/leinardi/FloatingAction

[2018-05-03 16:05] instantiator commented on #49
Thank you! It's a great project, and I'll whip you up something when I get some free time. Is there any way to support the project?

[2018-05-03 17:01] instantiator commented on #49
I attempted to provide a new width for the labels, but it didn't seem to accept my new value:

[code]

(I created a new values xml file in the values resource folder.)

[2018-05-03 19:56] leinardi commented on #49
Hi @instantiator, this was added in `alpha04` so, if you are using `alpha03`, it is expected to not work.

Regarding the way to support the project, you don't need to donate any money but I would appreciate any  kind of promotion of the library (starring the project on GitHub, suggesting Android newsletters or podcast to talk about the library, etc).
Another thing you can do is to star [this issue

[2018-05-11 18:40] leinardi opened #51 "Make the name of the FAB getter and setter less ambiguous"
Make the name of the methods  `setMainFabCloseBackgroundColor()`, `setMainFabOpenBackgroundColor()`, `setMainFabOpenDrawable()` and `setMainFabCloseDrawable()` less ambiguous.

[2018-05-12 08:42] #51 closed, assigned to leinardi

[2018-05-12 09:38] leinardi opened #53 "Allow setting overlay layout from XML"
Allow using an XML attribute to specify the overlay layout.

[2018-05-12 09:48] #53 closed, assigned to leinardi

[2018-05-16 07:55] ValCanBuild opened #56 "Allow elevation property to be set for SpeedDialView and SpeedDialOverlay through XML"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

I think it would be beneficial to allow users to override the elevation property for SpeedDialView and SpeedDialOverlay. The easiest way would be to have the two views respect the `android:elevat

[2018-05-16 09:00] leinardi commented on #56
Hi @ValCanBuild, currently I am changing dynamically the elevation of these views, that's why is not possible to set it via XML, but I will have a look to see if this can be avoided.

Thanks for the suggestion.

[2018-05-16 09:14] ValCanBuild opened #57 "Visual bug when used with anchor_id="top""
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: 1.0-alpha06
 - Android version: 8.1.0
 - Support library version: 27.1.1
 - Device brand: Pixel XL

### Step 3: Describe the problem:
I'm

[2018-05-16 09:27] leinardi commented on #57
Hi @ValCanBuild, this is happening because the size of the `SpeedDialView` changes between the open and close state and you are anchoring the center of the view. If you use the `app:sdExpansionMode="top"` you should allow the `SpeedDialView` to only grow upwards (for example locking it to the bottom).

What you need to to is to find a way to attach the anchor to the bottom of the `SpeedDialView` i

[2018-05-16 11:59] #57 closed, assigned to leinardi

[2018-05-24 20:47] #49 closed, assigned to instantiator

[2018-05-30 15:32] bdushi opened #58 "Menu Item visibility"
How to manage Item visibility when I inflate from menu resources

[2018-06-03 09:11] leinardi commented on #58
Hi @brddev, unfortunately the Menu Resource can be used only to add action items to the Speed Dial.

If you need to remove an item, you can use the `removeActionItemById()` method that takes as parameter the ID of the item defined in the Menu Resource: https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/master/sample/src/main/java/com/leinardi/android/speeddial/sample/MainActivity.java#

[2018-06-03 19:56] #58 closed, assigned to nobody

[2018-06-04 10:06] karatektus commented on #57
any ideads on how to do that?

[2018-06-04 13:41] ValCanBuild commented on #57
@karatektus @leinardi so I've found a solution for my issue, albeit in a hacky way. The key is to use the `translationY` property on the Menu item when it's expanded.

So in the layout I posted above the solution would be to listen to the `onToggleChanged` event (when the menu is expanded) and change its translationY property accordingly (i use android-ktx for `doOnNextLayout` here):

[code]

Resu

[2018-06-04 14:47] karatektus commented on #57
Well. I would have never ever thought of that. Thanks!
Here is some code if someone else needs it. I used java instead of kotlin (and width instead of height)

[code]

[2018-06-04 14:51] leinardi commented on #57
Hi guys, thank you both for sharing this code. I will probably add it to the README.md and/or to the Sample app, if is ok for you.

[2018-06-04 14:55] karatektus commented on #57
sure. but it still feels really hacky. and should ideally just work out of the box

[2018-06-04 14:56] ValCanBuild commented on #57
I'm fine with you adding it to the Readme it but I agree with @karatektus - there should be a way of doing this directly in the library.

[2018-06-07 10:30] robertoestivill opened #60 "Label transparent background"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `1.0.0`
 - Android version: `8.0.0`

### Step 3: Describe the problem:
#### Steps to reproduce:

The contrast between the label text colo

[2018-06-13 06:44] ashif-ismail opened #61 "Label getting trimmed for large texts"
it would be better to have an option to disable the trimming of characters if the label is large in length

[2018-06-13 07:53] leinardi commented on #61
Hi @SheikhZayed,

you can control the width of the label and, consequently, where the text will be truncated, overriding the dimen `sd_label_max_width`: https://github.com/leinardi/FloatingActionButtonSpeedDial#how-can-i-change-the-maximum-length-of-the-label

[2018-06-13 07:53] #61 closed, assigned to ashif-ismail

[2018-06-15 13:17] leinardi opened #62 "Click between Label and FAB handled as a dismiss action"

[2018-06-15 13:25] leinardi commented on #60
Hey I am really sorry for the delay: I read this issue when I was on vacation and I completely forgot about it.

I am going to try to fix it now. I will be back soon.

[2018-06-15 13:29] #62 closed, assigned to leinardi

[2018-06-15 14:25] leinardi commented on #60
I made a PR with the fix for the transparent label color. If you have time please try it and let me know if you can confirm the fixes.

[2018-06-16 11:57] #60 closed, assigned to leinardi

[2018-06-17 10:19] TomashVK opened #65 "Right to left locales"
When app/device locale is 'rtl' the SpeedDialActionItems are not centered.
[<img width="322" alt="screen shot 2018-06-17 at 13 17 03" src="https://user-images.githubusercontent.com/40334228/41506959-d13edd30-7230-11e8-9ba4-71b4bb1d659b.png">](url)

[2018-06-17 10:38] leinardi commented on #65
Hi @TomashVK, thank you for opening this issue. I have made a PR with a fix. If you can please try it and let me know if works also for you.

[2018-06-17 11:08] TomashVK commented on #65
From some reason i cannot run the sample app.
Have any idea why?
If you can upload a new version i will be able to check it in my actual app - either way the fix looks good (code wise) in my opinion.

thanks.

[2018-06-17 11:09] #65 closed, assigned to leinardi

[2018-06-17 11:11] leinardi commented on #65
Are you getting an error at runtime or build time? Can you post the error here?

I merged the PR to master, can you please try the SNAPSHOT and confirm the fix?

https://jitpack.io/#leinardi/FloatingActionButtonSpeedDial/master-SNAPSHOT

[2018-06-17 11:21] TomashVK commented on #65
The snapshot looks great and the bug is fixed
Regarding the sample app :
<img width="867" alt="screen shot 2018-06-17 at 14 18 51" src="https://user-images.githubusercontent.com/40334228/41507350-bbd5f20e-7239-11e8-93a2-6d9fbe02de53.png">

[2018-06-17 11:34] leinardi commented on #65
Thanks, this fix will be in the next release, meanwhile you can use the SNAPSHOT of master.

Regarting the sample project, can you please try to build from command line and post the error that is shown there?

`./gradlew clean build`

[2018-06-17 11:37] TomashVK commented on #65
Toms-MBP-2:FloatingActionButtonSpeedDial-feature-65-rtl-margin-wrong tomvakrat$ ./gradlew clean buildStarting a Gradle Daemon, 1 incompatible Daemon could not be reused, use --status for details
Parallel execution is an incubating feature.

FAILURE: Build failed with an exception.

* Where:
Script '/Users/tomvakrat/Downloads/FloatingActionButtonSpeedDial-feature-65-rtl-margin-wrong/dependencies.gr

[2018-06-17 11:46] leinardi commented on #65
Oh I see, that bug happens when you remove the .git folder from the project (eg. if you download the project as zip directly from GitHub page instead of cloning it with git).

I will fix this on master, if you want fix it also on your side you can replace the line 208 of `dependencies.gradle` with this:

[code]

[2018-06-17 12:01] TomashVK commented on #65
Great.

Thanks for the fast response, and great library btw

[2018-06-18 03:16] ashif-ismail opened #67 "Reduce space b/w button and label"
please let me know if there's a way to reduce the space between the floating action menu button and the title label.

[2018-06-18 06:19] ashif-ismail opened #68 "Add view tag support to menu buttons"
it would be nice if you could add tag support to menu action buttons,so that it would be easy to manipulate UI state

[2018-06-18 06:54] ashif-ismail opened #69 "make addActionItem() return instance of menu item"
Please modify the addActionItem() method to return the instance of the menu button,so that we can manipulate this item else where.

example :
`ActionItem item = mSpeedDialView.addActionItem(new SpeedDialActionItem.Builder(R.id.menuHafilatMachines,R.drawable.pay_mawaqif)
                .setFabBackgroundColor(getColor(R.color.colorPrimary))
                .setLabel(getString(R.string.hafilat_ticke

[2018-06-18 07:18] leinardi commented on #69
Hi @SheikhZayed, the `SpeedDialActionItem` are immutable so you can only get the properties you set with the builder. I just want to clarify that, even if you have the instance of the item somewhere else, it will not be possible to change that item but just to read the properties.

[2018-06-18 07:32] ashif-ismail commented on #69
ok,it would better if SpeedDialActionItem subclass Android Button..just a suggestion

will be helpfull with the out of the box button properties

rather than making it a parcelable class

[2018-06-18 09:10] robertoestivill commented on #60
I have verified it works correctly with `1.0.1`. Thanks for the speedy fix.

[2018-06-18 15:45] leinardi commented on #69
Now that I read your issue better, I am afraid I cannot accept it because internally the library is not using the `MenuItem` objects, so there is no way that I can return any useful instance of it.
When I first read it I thought you wanted to have back an instance of `SpeedDialActionItem`, which doesn't make much sense since is a mandatory parameter of the method.

[2018-06-18 15:45] #69 closed, assigned to nobody

[2018-06-18 15:48] leinardi commented on #68
Currently the `SpeedDialActionItem` are meant to be used only for the configuration of the Speed Dial items. I am not planning to add this feature any time soon.

[2018-06-18 15:48] #68 closed, assigned to nobody

[2018-06-18 15:54] leinardi commented on #67
Unfortunately there is currently no easy way to change the space between the mini FAB and the label.

[2018-06-20 15:38] ashif-ismail commented on #67
@leinardi could you please suggest anyway or provide option in the lib?

[2018-06-25 15:37] ShahoodulHassan opened #70 "How and where to add an Action Item in XML?"
Sorry if it is something obvious but I'm unable to figure out how to define an Action Item and where. And yeah, I don't want to define these in a menu resource if I end up losing the custom color functionality as mentioned in the docs.

[2018-06-25 16:19] leinardi commented on #70
Hi @ShahoodulHassan, you loose the custom color functionality if you use the XML approach. If you do it programmatically you have access to all the features.

Please have a look at the [README](https://github.com/leinardi/FloatingActionButtonSpeedDial#customizing-the-items) file and at the [Sample App](https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/master/sample/src/main/java/com/l

[2018-06-25 16:21] #70 closed, assigned to ShahoodulHassan

[2018-06-25 16:21] ShahoodulHassan commented on #70
Well my actual question was how to define the action items in XML. I found the answer in FAQ that we don't have to define them as a view or widget, these are just IDs defined in XML.

Thanks anyway!

[2018-06-25 16:24] leinardi commented on #70
With XML I thought you were referring to the Resource Menu XML. It is not possible to define items inside a Layout XML.

[2018-06-25 17:23] zhanghai opened #71 "Animation feels slower than Google Inbox"
### Step 1: Are you in the right place?

- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library. (Sample app on Google Play)

### Step 2: Describe your environment

 - Library version: `1.0.1`
 - Android version: `8.1.0`
 - Support library version: Irrelavent
 - Device brand: Irrelavent
 - D

[2018-06-26 06:31] zhanghai opened #72 "FAB vertical padding should be 16dp instead of 18dp"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `1.0.1`
 - Android version: `8.1.0`
 - Support library version: `27.1.1`
 - Device brand: `Irrelavent`
 - Device model: `Irrelavent`

###

[2018-06-26 11:43] leinardi commented on #71
Hi @DreaminginCodeZH, thank you for opening the issue. I pushed a fix, if you have time please have a look and let me know.

[2018-06-26 12:05] #72 closed, assigned to leinardi

[2018-06-26 12:07] leinardi commented on #72
Hi @DreaminginCodeZH, I should have fixed the issue:
Before:
![image](https://user-images.githubusercontent.com/273338/41910526-364e23f0-794a-11e8-9f18-dc5a183cbbc5.png)
After:
![image](https://user-images.githubusercontent.com/273338/41910484-18d4d40e-794a-11e8-88ed-7928f3738e01.png)

I mistakenly merged it already to master, feel free to comment if you think is not fixed yet.

[2018-06-27 06:54] zhanghai commented on #71
LGTM, thx!

[2018-06-27 06:59] zhanghai commented on #71
And BTW, can I expect a release recently?

[2018-06-28 07:31] #71 closed, assigned to leinardi

[2018-06-28 07:32] leinardi commented on #71
I am planning to release soon, but I am not sure exactly when. Meanwhile, if you want, you can use the SNAPSHOT of the master branch: https://jitpack.io/#leinardi/FloatingActionButtonSpeedDial/master-SNAPSHOT

[2018-06-30 10:31] leinardi commented on #71
@DreaminginCodeZH I just release v1.0.2.

[2018-07-02 22:21] urgentx commented on #11
Custom sizing would make the button much more versatile. Currently, half of the FAB is not drawn when using a custom width/height in XML, as such it makes it unusable for anything other than its default size.

[2018-07-10 06:03] ashif-ismail opened #75 "Highlight the selected mini fab icon"
when we have more mini fab within the parent fab,how do i highlight the currently selected fab ?

[2018-07-10 09:19] leinardi commented on #75
Hi @SheikhZayed, what do you mean by "current selected"? Do you mean the selection when the user taps one without dismissing the Speed Dial?

[2018-07-10 09:26] ashif-ismail commented on #75
yes,ofcourse

my scenario : i add some esri map layers on click on mini fab,even after dismissing the speed dial if the map has the particular layer which has been added when the user clicked the mini fab for the first time.i need to highlight it .

any provision in the existing implementation ?

[2018-07-10 10:26] leinardi commented on #75
Currently this feature is not implemented nor planned. My suggestion is to use the replace method to dynamically change the color of the selected action item.

If you check the sample project I am doing something similar with the Replace and Remove items:

https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/master/sample/src/main/java/com/leinardi/android/speeddial/sample/MainActivity.j

[2018-07-10 10:26] #75 closed, assigned to ashif-ismail

[2018-07-10 15:55] ashif-ismail commented on #75
cool :) let me give a try 👍 .. any how thanks for your great library and continues effort in maintaining this 💯

[2018-07-13 06:20] naco-siren opened #76 "Calling hide() and show() causes sdMainFabClosedSrc and sdMainFabOpenSrc disappear. (support lib 28.0.0)"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `1.0.2`
 - Android version: `27`
 - Support library version: `28.0.0-alpha3`
 - Device brand: `Google`
 - Device model: `Pixel XL`

### S

[2018-07-13 06:41] naco-siren commented on #76
Also, `SpeedDialOverlayLayout` always could not be triggered on opening the `SpeedDialView` for the first time.

[2018-07-13 06:47] naco-siren commented on #76
Also, main fab's ripple effect always triggers from top-left corner instead of the touch point.

[2018-07-13 08:29] HeroKince opened #77 "Dismiss animation"
add a dismiss animation like the open style...

[2018-07-13 08:31] #77 closed, assigned to nobody

[2018-07-13 08:49] leinardi commented on #76
Hi @naco-siren, I started investigating this issue and it seems to happen only with the support library version 28.0.0-alpha3 (27.1.1 still works fine).

Until I find a better solution my suggestion is to use the latest stable version.

[2018-07-14 09:18] leinardi commented on #76
I have reported the bug in the issuetracker of the support libraries. Please consider starring the issue for visibility (and if  you want to get updates): https://issuetracker.google.com/issues/111433526

[2018-07-15 03:28] ashif-ismail opened #79 "Doesn't change label text language when app language is changed dynamically"
I have noticed a bug in this library which makes the label text doesn't change the label text to the current locale if the app language is changed dynamically.(even if referenced from strings.xml)

however,the floating menus correctly change the test label after the next restart of the app.

please fix this

[2018-07-15 08:26] leinardi commented on #79
Hi @SheikhZayed, what do you mean by "even if referenced from strings.xml"?

The SpeedDialActionItem builder only provides a String setter for the label:
https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/master/library/src/main/java/com/leinardi/android/speeddial/SpeedDialActionItem.java#L183

I have no way to know from which string resource that String comes from or even if it was fr

[2018-07-15 09:38] ashif-ismail commented on #79
what do you mean by "even if referenced from strings.xml"?

I handle the dynamic language change and respectively update all the strings in the app,but the labels for the fab doesn't get changed(all others does) even though the main fab changes the position (from LTR to RTL)

the labels in the fab only changes the text to the respective updated language once i restart the app

what could be the is

[2018-07-15 09:45] leinardi commented on #79
As I said, you need to handle manually the labels, this means setting all of them again when there is a language change.

You could, for example, add to your Manifest the attribute `android:configChanges="layoutDirection|locale"` to the Activity that has the Speed Dial and than override the `onConfigurationChanged()` method and there refresh the strings.
By refreshing the strings I mean you have t

[2018-07-15 10:00] ashif-ismail commented on #79
when i update the language, i call recreate() to restart the root activity which pass through the oncreate() which has a method in which i add items to FAB.

is this not enough ? do i manually override onConfigurationChanged() ?

[2018-07-15 10:28] leinardi commented on #79
Ok, I think I fix the issue but it requires a [change in the API](https://github.com/leinardi/FloatingActionButtonSpeedDial/commit/e5366623b722cd04d6c8ecd3040385b9af18ac71#diff-4f26bd84507a873ea0ac8366d22db54aR81) of the lib, that implies going from version 1.x to version 2.x. So I will wait before merging and releasing this fix until I have more API breaking changes.

Meanwhile you can try it usi

[2018-07-15 10:42] ashif-ismail commented on #79
sure,thanks for the quick response...i'll get back to you soon

[2018-07-15 12:07] ashif-ismail commented on #79
great ! it really works .. thank you very much .. 💯
can i use this

in my app gradle and release the app to production ? will it break anytime ?

[2018-07-15 12:12] leinardi commented on #79
That should be relatively safe (of course if the jitpack service goes down it will break new builds, but the same applies to the official jcenter server).

Just keep in mind to manually check for new versions of the lib every now and than because, if you use jitpack, you will not get any notifications for new releases.

PS
When your app goes live could you please give me a like where I can see it?

[2018-07-15 12:26] ashif-ismail commented on #79
sure,i'll update the store link here itself,

do you have any roadmap / expected date on which you can merge this change to stable version of library ?

[2018-07-15 12:28] leinardi commented on #79
Unfortunately not, as I said I would like to collect more API breaking changes before merging this and, so far, this is the only one.

[2018-07-15 15:35] ashif-ismail commented on #79
ok,i will watch this repo until last week of my app release,if you dont release the stable version,i will use this library locally as a module and build :(

i cant take a chance to break at anytime..

thanks for your great help and awesome work 👍

[2018-07-18 12:25] fennifith opened #80 "Dynamic Theming of SpeedDialActionItem(s)"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `1.0.2`

### Step 3: Describe the problem:
#### Steps to reproduce:

  1. set up the library
  2. create a set of menus
  3. attempt to t

[2018-07-18 12:44] leinardi commented on #80
Hi @TheAndroidMaster, thank you for your suggestion, I am not sure how complex it will be to implement what you are asking, I will give it a try this weekend.

I will let you know.

[2018-07-19 16:57] IslamKhSh commented on #10
it's very important to have

[2018-07-21 10:59] #79 closed, assigned to leinardi

[2018-07-21 11:01] leinardi commented on #80
Hi @TheAndroidMaster, I spent a couple of hours evaluating the pro and cons of doing what you asked but in the end I still prefer to have the separation between the `SpeedDialActionItem` and the `FabWithLabelView`. This implies that if someone want to change the theme of all the items it has to either relay on the theme functionality provided by the framework (which imply the recreation of the Act

[2018-07-21 15:31] fennifith commented on #80
@leinardi that was basically what I was expecting, thank you very much!

My other suggestion was not to join the item and view, but to eliminate the 'Builder' subclass in order to simplify the API and instead allow the creation of menu items like:

[code]

...and then you could simply call `item.setLabel(R.string.somethingelse);` to change one of the values.

Apologies if this is too complicated o

[2018-07-21 15:49] #80 closed, assigned to leinardi

[2018-07-30 07:59] ashif-ismail opened #83 "set scale scale of mini fab icons"
is there a way to set the scale type for mini fab icons ?

[2018-07-30 08:06] leinardi commented on #83
Hi @SheikhZayed, if is possible to do it with a normal `FloatingActionButton`, it should not be too difficult to implement.

Can you please give me some example of code and some screenshots of what you want achieve with a `FloatingActionButton`?

[2018-07-30 08:13] ashif-ismail commented on #83
i'm trying to set a custom icon which has a round border with it to the mini fabs..no matter whatever size of the image i put.. its always getting center scaled .

what i want is .. the round border of the image should be exactly at the outer bounds of the mini fab

check this.. i want the icons of mini fab to be strethed out fully

![screenshot_20180730-121118](https://user-images.githubuserconte

[2018-07-30 09:15] leinardi commented on #83
As far as I know this is not possible with the `android.support.design.widget.FloatingActionButton`.

[2018-07-30 10:13] ashif-ismail commented on #83
cool..thanks for the info

[2018-07-30 10:39] #83 closed, assigned to ashif-ismail

[2018-08-06 08:19] WildOrangutan opened #84 "Transparent color innder circle"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `1.0.2`
 - Android version: `23 and 28`
 - Support library version: `27.1.1`
 - Device brand: `Emulator`
 - Device model: `Emulator`

###

[2018-08-06 09:19] leinardi commented on #84
Hi @WildOrangutan, thanks for the report. Unfortunately I fear this is a side effect of the workaround that I am using to grant the same distances of the action items (the small FABs) for all the API levels. See the here for context:

https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/07d61e40a0f7e87a51893db093be09423b01893c/library/src/main/java/com/leinardi/android/speeddial/FabWithL

[2018-08-06 10:18] ashif-ismail opened #85 "make label background equal in size for mini fabs"
is there a way to make all the fab label background in equal size irrespective of their title width ?

[2018-08-06 11:29] leinardi commented on #85
Mmm, I can't test it my self right now but you could try to override the `SpeedDial.Base.FabLabelStyle"` and add a `android:minWidth`. Simply add this to the styles.xml of your app:
[code]
please let me know if works.

[2018-08-06 12:06] ashif-ismail commented on #85
great ! worked like a blast ..!

[2018-08-06 12:36] joey-harward opened #86 "disable menu item"
Is there an easy way to disable a particular menu item?  I see you can remove and replace, but it would be nice to disable menu items (still show them, but semi-transparent).  For instance, I may want to disable an item temporarily until a feature is available.  Thanks!

[2018-08-06 12:43] leinardi commented on #86
Hi @joey-harward, unfortunately there is no such feature but probably you can achieve this manually setting the alpha after creating the item:

[code]

I cannot test this right now but if you try, please let me know if works or not.

[2018-08-06 14:28] joey-harward commented on #86
Thank you for responding, but that does not seem to work.  I am using version 1.0.2 and addActionItem returns void so I can't set alpha :)

[2018-08-06 15:22] leinardi commented on #86
Oh right, sorry about that. Then I guess you can still do it using `findViewById()` and the id of the action:

[code]

[2018-08-07 14:34] joey-harward commented on #86
Yes, that does change the transparency and give the "appearance" of being disabled.  Thanks.

I was hoping, however, to be able to disable it using the menu item parameter (`android:enabled="false"`).  This would not only set it semitransparent but disable click handling for that item.

Not a bug really, more of a feature request ;)

[2018-08-07 15:35] leinardi commented on #86
Sure I will add it to my to do list :+1:

[2018-08-28 05:59] ashif-ismail commented on #79
as requested,here's the link to our app : [https://play.google.com/store/apps/details?id=com.dot.darbmobile](url)

map might not work,as it is only configured to work in UAE,but you can check the behaviour of your library

[2018-08-28 07:16] leinardi commented on #79
Thanks for the link :+1:

[2018-09-07 02:38] RedSkyRoad opened #87 "Sample Project NOT building"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: 1.0.2
 - Android version: 8
 - Support library version: `?`
 - Device brand: `?`
 - Device model: `?`

### Step 3: Describe the problem:

[2018-09-07 06:22] leinardi commented on #87
Hi @RedSkyRoad, I cannot reproduce this issue. I downloaded a fresh copy of the repository and everything build correctly, including the sample project.

Please can you try to follow these exact steps an let me know if you still have the same issue?

[code]

Also please be sure to update your Android SDK to the latest version.

[2018-09-07 06:54] RedSkyRoad commented on #87
Hi,

I'm not an android pro so I need some help with getting this to work. What are the steps to get the sample running? All my SDKs are up to date. Do extract the whole folder or just the same folder? Do I need to copy some files from the other folders as well?

[2018-09-07 07:10] leinardi commented on #87
Hi @RedSkyRoad, the steps to get it to work are the one I listed in my previous comment, assuming that you are using the latest version of the Android SDK.

If you want to open it in Android Studio (better to use version 3.2) you have to just clone the project with `git clone https://github.com/leinardi/FloatingActionButtonSpeedDial.git` or download the Zip archive from GitHub:
![image](https://us

[2018-09-07 07:10] #87 closed, assigned to RedSkyRoad

[2018-09-07 07:25] RedSkyRoad commented on #87
I've done that but it does not work... I get so many errors. I'm running the latest Studio and SDKS

[2018-09-07 07:30] leinardi commented on #87
Can you post here the errors are you getting in Android Studio?

[2018-09-07 08:06] RedSkyRoad commented on #87
Just at work atm... Will post results soon.
Just tell me : will it be possible to have all the code in my app so I'm not bound by dependencies?

[2018-09-07 08:15] leinardi commented on #87
If by dependencies you mean just this library and not also the transient dependencies, yes it should be possible. But why you don't want to add it as dependency?

[2018-09-07 08:42] RedSkyRoad commented on #87
If this library would make it possible to set up an awesome FAB in 10 minutes, then I'll be dependent.
How do I do that? Stepwise...

I've spent 2 days now trying one after the other with ZERO success.

But I see a lot of Deprecated libraries... I would like to find something that works and stick with it without it being fiddled with in the background...

[2018-09-08 07:54] RedSkyRoad commented on #87
So I cloned it and here are the errors.  After clicking UPDATE, the rest of the errors proceed:

![error01](https://user-images.githubusercontent.com/8761621/45251825-0440a800-b34d-11e8-9f99-f132d0bd4083.png)
![error02](https://user-images.githubusercontent.com/8761621/45251827-0e62a680-b34d-11e8-923a-359df1c3a771.png)
![error03](https://user-images.githubusercontent.com/8761621/45251829-13275a80-

[2018-09-08 07:57] leinardi commented on #87
Try to change this line to `3.2.0-rc02` and try again:

https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/07d61e40a0f7e87a51893db093be09423b01893c/dependencies.gradle#L24

[2018-09-08 08:47] RedSkyRoad commented on #87
Thanks SO MUCH.  That helped with the first errors.  I still have the following:

![image](https://user-images.githubusercontent.com/8761621/45252313-94362000-b354-11e8-82a3-bddac14d5a06.png)

[2018-09-08 08:49] RedSkyRoad commented on #87
PS: When I try and follow the instructions on the main page, there is something called "fab_link" that is in red.  Where do I get this file/reference?

![image](https://user-images.githubusercontent.com/8761621/45252337-e8d99b00-b354-11e8-9809-92ec87ad324a.png)

[2018-09-08 09:10] RedSkyRoad commented on #87
More Errors:

![image](https://user-images.githubusercontent.com/8761621/45252501-b2514f80-b357-11e8-9890-e0aeaa840eac.png)

It just does NOT want to build

[2018-09-09 04:29] RedSkyRoad commented on #87
So the source of that error is the following:
![image](https://user-images.githubusercontent.com/8761621/45261095-a74efb80-b3f9-11e8-8bbc-86ace23c6822.png)

Could someone please tell me how to fix this?

[2018-09-11 14:23] leinardi opened #88 "Speed Dial should not open if empty"
Calling `open()` or `toggle()` should not open the Speed Dial if there are no actions set.
Should instead call `onMainActionSelected()`.

[2018-09-11 14:43] #88 closed, assigned to leinardi

[2018-09-14 09:06] panjiyudasetya commented on #76
@naco-siren I experienced this issue as well on android support version `'28.0.0-rc01'`. As for temporary solution, I use `view.setVisibilty(View.INVISIBLE)` to hide fab view, but it cost me to lose the animation.

[2018-09-14 09:15] leinardi commented on #76
Hi @naco-siren, if you want to keep the animation you can try this other workaround:

[code]

You just need to use this Behavior instead of the `SpeedDialView.ScrollingViewSnackbarBehavior`. If you want to show the FAB manually just call the static method `showWithWorkaround()` and then manually set the visibility of the `SpeedDialView` to `VISIBLE` (the normal `hide()` can still be used).

[2018-09-23 13:11] leinardi commented on #76
Google release v28 of the support libraries without fixing this issue. Unbelievable.

I implemented a workaround, it will be merged to the next release of this library.

EDIT
The new version with the workaround is now live: https://github.com/leinardi/FloatingActionButtonSpeedDial/releases/tag/2.0.0

[2018-09-23 16:59] leinardi commented on #79
Just FYI, I published version 2.0.0 that includes the fix for this issue: https://github.com/leinardi/FloatingActionButtonSpeedDial/releases/tag/2.0.0

[2018-09-23 17:00] ashif-ismail commented on #79
Great👏

On Sun, Sep 23, 2018, 8:59 PM Roberto Leinardi <notifications@github.com>
wrote:

[2018-09-24 12:45] marbat87 opened #92 "AndroidX support"
Hi,

androidx support lirabries are out and stable.
Any ETA for upgrading?

Thanks in advance

[2018-09-25 10:35] leinardi commented on #92
Hi @marbat87, currently I have no ETA for it because I need first to understand how can I still support the projects that use the old support library without having to handle both dependencies on my side.

As far as I know you should be able to use this library with AndroidX setting the following two flags to `true` in your `gradle.properties` file:

[code]
More info here: https://developer.androi

[2018-09-25 12:37] marbat87 commented on #92
You should support only the AndroidX, because the older support libraries won't be updated anymore.
However I will try with that workaround in the meantime.

Thanks

[2018-09-27 09:32] akwizgran opened #93 "FAB shadow is rendered wrongly on API 15"
On the Sony Xperia Tipo (API 15) the shadow behind the FAB isn't properly aligned with the button - a white line is visible between the button and its shadow at the bottom left and right corners.

[2018-09-27 09:33] akwizgran commented on #93
![device-2018-09-27-103254.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5baca32735dc3600131efd31/125516c66e82c728ace21e0d46ec918c2a8186e4ddb9ee1be90da9d97b116a227957f17e24c7af6aaf50740b0a0c0abe4b4a5a15aff1da28a5e73f79895d5eebd16d5e26c46b44a4bd8a0da313f871d51bdaebe5c01982fa3737e58a854e3b1d0d188dff5a3ca29e43cd4abb.png)

[2018-09-27 09:41] akwizgran opened #94 "FAB touch effect creates square shadow on API 22"
On the Moto G 2014 (API 22), the touch effect drawn behind the FAB creates a square shadow that rotates as the speed dial opens, giving the appearance of a rotating square or diamond attached to the back of the FAB.

[2018-09-27 09:48] akwizgran commented on #94
Here's a screenshot as the speed dial is closing - you can see the square shadow rotating back to its original orientation.

![still.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5baca32735dc3600131efd31/125516c66e82c728ace21e0d46fb80932f8ec1e5cdf9ad4cae58f3806b1c65262807fb2823d6e27be6112a04595f4ead135a0911f4fc8139baa47e21d40854b088270a36d43703aeb8881eba02b2208f4e83bebc8

[2018-09-27 09:49] akwizgran commented on #94
We're using the overlay in this screenshot, but the issue also happens without the overlay.

[2018-09-27 10:47] leinardi commented on #94
Hi @akwizgran, unfortunately this is an issue of the `FloatingActionButton` from the Design support library. You should get the same issue if you use that directly. This is something that Google has to fix and, looking at what they have done with [similar issues](https://issuetracker.google.com/issues/77303906) I have reported, I doubt they will ever do it.

[2018-09-27 10:49] leinardi commented on #93
This is a bug of the `FloatingActionButton` from the Design library. I have open an issue, feel free to star it: https://issuetracker.google.com/issues/77303906

Related to #11

[2018-09-27 12:14] akwizgran commented on #93
We have another FAB in the app where this doesn't seem to happen. Any thoughts about what might be different between the two FABs?

![device-2018-09-27-131342](https://user-images.githubusercontent.com/1458432/46145176-390e9380-c257-11e8-904b-ca94de8246a0.png)

[2018-09-27 14:41] akwizgran commented on #94
Thanks @leinardi! It seems the issue is less noticable on our other FABs because they don't rotate. Is there any way we can suppress the rotation or remove the ripple effect from the FAB?

[2018-09-28 07:43] leinardi commented on #94
The rotation of the fab can be controlled using the  `setMainFabAnimationRotateAngle()` or the XML attribute `sdMainFabAnimationRotateAngle`.
Regarding the ripple effect, I don't know how to remove it, but it should be the same as the Google FAB, just apply the same changes to it with `mSpeedDial.getMainFab()`.

[2018-09-28 07:45] leinardi commented on #93
Yep, just try to change the size of the FAB programmatically (define it mini in XML and than set it to normal in Java/Kotlin:

[code]

[2018-09-28 10:59] leinardi opened #95 "support 28 workaround does not work on minified release apk"

[2018-09-28 11:17] #95 closed, assigned to leinardi

[2018-10-11 15:04] migvf opened #97 "Is possible to change the backgroundColor of a speedDialActionItem programmatically??"
Hello,

I need to change the color or the fab icon when the user clicks a menu action (to show which option is currently selected) . Is this supported? How can i do that?.

Regards

[2018-10-11 15:23] leinardi commented on #97
Hi,

unfortunately this feature is not supported, you can find more info here: https://github.com/leinardi/FloatingActionButtonSpeedDial/issues/75#issuecomment-403775804

[2018-10-11 15:23] #97 closed, assigned to nobody

[2018-10-12 10:55] kuraydev commented on #94
+1. I think priority should be high for this issue. It really looks terrible like that :)
Also thank you so much for this library.

[2018-10-28 02:47] adendiamond opened #98 "Add .setLabelTextAppearance to .addActionItem"
Hi there, just a feature request.
I was just wondering if it was possible to change the text appearance of the label?
If not I reckon it would be a great method to have.
Love the library btw.

[2018-10-28 09:03] leinardi commented on #98
Hi @adendiamond, thanks for the suggestion, I will keep it in mind.

Meanwhile it is possible to do it programmatically like this (the `fabWithLabelView` is returned by the `addActionItem()`:
[code]
If you want to change the default text appearance of all the action items you can do it by overriding this theme:
[code]

[2018-11-12 12:04] francescogatto commented on #11
https://issuetracker.google.com/issues/77303906 they say that finally fixed this bug! 💃

[2018-11-12 13:15] leinardi commented on #11
And that "it will be available in future" :(

[2018-11-12 18:41] ShahoodulHassan opened #99 "Issues with scrolling to the top & bottom"
Hi,
I'm using this FAB in a CoordinatorLayout but facing two problems which both apparently relate to scrolling of content in RecyclerView to the extreme top or bottom:

1. The over scroll effect (the glow effect of `overScrollMode`) is lost.
2. When i kinetically scroll to the top or bottom and tap on a list item, the tap doesn't register. I have to tap another time for it to register.

The issue

[2018-11-13 13:38] francescogatto commented on #11
I have a question, I need to change the size, so if i fork the library and change to AndroidX, can I resize the Fab button? Thx

[2018-11-13 14:11] leinardi commented on #11
I don't think the fix is already released but if you try and it works, please let me know.

[2018-11-21 18:00] josh-burton opened #100 "Use unique view IDs"
It would be a good idea to prefix view ids used in the library to make them unique.

I'm getting the following error:

[code]

It turns out this is because this library uses a `id/fab`, and I use `id/fab` for the SpeedDial view.

I imagine its quite common for developers to use the `id/fab` id, so prefixing yours would help avoid this erorr.

[2018-11-21 18:01] leinardi commented on #100
Very good point, thanks for reporting this issue.

[2018-11-26 16:25] francescogatto opened #101 "How to Disable Main Fab programmatically"
Hi,
I'm trying to disable the main fab to prevent to open the menu. I tried with  enabled and clickable, but it doesn't work

[2018-11-26 16:37] leinardi commented on #101
Ciao @francescogatto, thanks for reporting this issue. I'm planning to fix it for the next release but meanwhile you can work around it using `setEnabled()` directly on the main FAB: `mSpeedDialView.getMainFab().setEnabled(false);`

[2018-12-04 06:50] hannesa2 opened #102 "Info about checked in .idea files"
Just for your info

1)
when I open the repo with Android Studio 3.2.1 the checked in .idea files are modified immediate

<img width="606" alt="image" src="https://user-images.githubusercontent.com/3314607/49423420-c4e0f680-f797-11e8-9384-029281035fca.png">

I'm not sure if this is the main purpose of this checked in files. I guess it needs an update

2)
Android Studio asked me about to update proj

[2018-12-04 06:50] hannesa2 commented on #92
Adding simply

is to less, you will run into tons of errors

~/FloatingActionButtonSpeedDial/library/src/main/java/com/leinardi/android/speeddial/SpeedDialView.java:28: error: package android.support.annotation does not exist
import android.support.annotation.ColorInt;
                                 ^
~/FloatingActionButtonSpeedDial/library/src/main/java/com/leinardi/android/speeddial/SpeedDialV

[2018-12-04 06:56] hannesa2 commented on #92
please see `AndroidX` PR https://github.com/leinardi/FloatingActionButtonSpeedDial/pull/103

[2018-12-04 10:14] leinardi commented on #102
Hi Hannes, yes, like in the DSA PAYBACK project, those files are modified immediately. I am not aware of any fix for it.

[2018-12-04 10:14] #102 closed, assigned to nobody

[2018-12-04 10:49] leinardi commented on #92
Hi Hannes, if I get it right you are trying to build the source of this library adding the `useAndroidX` and `enableJetifier` parameters and that is the problem: you should use those parameters in the project where you are using FloatingActionButtonSpeedDial library and not to build directly the source of the library.

If you do it like that it works fine and you don't get any error.

So there is

[2018-12-10 14:35] ImranHusain commented on #76
This issue has come if i was create a build with progurad without progurad its working fine .So any progurad rule is required for that issue????

[2018-12-10 14:39] leinardi commented on #76
Are you getting any of these errors?

[code]

[2018-12-11 05:50] ImranHusain commented on #76
yes you are correct i am getting below error:
E/SpeedDialView: Field impl not found
    java.lang.NoSuchFieldException: impl
        at java.lang.Class.getDeclaredField(Class.java:890)
        at xxx.SpeedDialView$2.d(Unknown Source)
        at android.support.design.widget.FloatingActionButton$1.cY(Unknown Source)
        at android.support.design.widget.h$2.onAnimationEnd(Unknown Source)

[2018-12-11 07:24] leinardi commented on #76
The rule is already provided by the library and is working on release builds afaik:
https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/9c2f5ed71c861536f38fcc98e1d8e3110c2b252f/library/consumer-proguard-rules.pro#L27

Are you using AndroidX and the `enableJetifier` option? If yes probably you have to update the rule for AndroidX.

Please let me know if that fixes the issue so that I can

[2018-12-11 09:27] ImranHusain commented on #76
Thanks leinardi lib proguard rule resolve my issue
-keepclassmembernames class android.support.design.widget.FloatingActionButton {
android.support.design.widget.FloatingActionButtonImpl impl;
}
-keepclassmembernames class android.support.design.widget.FloatingActionButtonImpl { void setImageMatrixScale(float); }
No i am not using AndoridX.

[2018-12-11 09:29] leinardi commented on #76
Mmm this is strange, the rule should be already provided with the library. Anyone else is experiencing the same issue?

[2018-12-11 15:54] sauravrp opened #104 "e"
### Step 1: Are you in the right place?
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests
- [ ] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `?`
 - Android version: `?`
 - Support library version: `?`
 - Device brand: `?`
 - Device model: `?`

### Step 3: Describe the problem:

[2018-12-11 16:06] #104 closed, assigned to nobody

[2018-12-14 07:22] waseem786 opened #105 "How to get click status of a sub menu"
Hi, what I am looking is, when I click a sub menu, its background color need to change, and when click same sub menu item again, its color need to change back to previous color. Is there any function or boolean value to do this?
Note: I am not talking about subMenuItem.isLabelClickable method.

Thanks

[2018-12-19 21:13] sauravrp opened #106 "Action Items are sometimes not visible or not drawn correctly"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [ ] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `2.0.1`
 - Android version: `8.1.0`
 - Support library version: `?`
 - Device brand: `Android Emulator`
 - Device model: `Android Emulato

[2018-12-21 10:22] kalallokesh opened #107 "Main Fab button Shadow disappears when fab menu is opened."
![device-2018-12-21-155535](https://user-images.githubusercontent.com/29731319/50338065-2f848700-0539-11e9-8349-da4b58fbc8e4.png)

[2018-12-21 11:10] #107 closed, assigned to nobody

[2018-12-24 08:24] adendiamond opened #108 "Draw over status bar?"
Hi there, has anyone managed to use the SpeedDialOverlayLayout and make it overlay the status bar?
I know it is possible because I remember doing it once but somehow I got rid of the code.
Any help is appreciated :)

[2018-12-25 18:53] Ethan1983 opened #109 "Id for FloatingActionButton hosted under SpeedDialView"
Please add an ID for FloatingActionButton (mMainFab) hosted under SpeedDialView.
This helps to `findViewById()` and `performClick()`

[code]

[2019-01-05 07:45] BrightVan commented on #79
i think you should edit the README.md，give a tip about this. And add @Deprecated on method setLabel(@Nullable String label).
otherwise, somebody will get this problem in someday.

[2019-01-29 07:52] ulaserdegor opened #110 "Update Label"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `?`
 - Android version: `?`
 - Support library version: `?`
 - Device brand: `?`
 - Device model: `?`

### Step 3: Describe the problem:

[2019-01-29 07:53] ulaserdegor commented on #110
Can you add setLabel method for items ?

[2019-02-08 09:49] swapnil-gawali opened #111 "Main fab icon color"
How to change main fab icon color, i have added white icon but still its showing black, app:tint, android:tint also not working.

[2019-02-12 16:41] untungs commented on #11
Hi @leinardi, I've tried with `com.google.android.material:material:1.1.0-alpha02` and the issue doesn't occur.

XML
[code]

Kotlin
[code]

[2019-02-14 12:39] Ethan1983 opened #112 "Crash when "fab" is used as an id for SpeedDialView"
Setting "fab" as the id causes the app to crash on orientation change. If fab is meant for internal use, please document the same.

<com.leinardi.android.speeddial.SpeedDialView
                android:id="@+id/fab"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="bottom|end"
                app:sdOverl

[2019-03-01 23:53] primozi opened #113 "Main FAB opened image is not centered when using Theme.MaterialComponents"

[2019-03-01 23:54] primozi commented on #113
![Capture.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5c79c501d10f9e0011d010f7/125516c66e82c728ace21e0d46cb958a379791accda5fd53b652fa912a5265296b51a2282886b07bbe1122525e0a48ac41590d46aaac812eaea42062c80d55b98e30063e937f03a6aa8317b500bf258a4b8db2b88f45c0ee3937aa.PNG)

[2019-03-10 07:36] RockyQu opened #114 "How to remove the white layer of the background?"
How to remove the white layer of the background?

[2019-03-10 08:48] leinardi commented on #114
If by "white layer of the background" you mean, the overlay, the easiest way is to not add it in first place:
just remove the attribute `app:sdOverlayLayout="@id/overlay"` from the `com.leinardi.android.speeddial.SpeedDialView` in your layout and remove also this:
[code]

If instead you refer to the action item background, you can just call `.setLabelBackgroundColor(Color.TRANSPARENT)` when you bu

[2019-03-10 08:48] #114 closed, assigned to nobody

[2019-03-10 08:54] leinardi commented on #110
If you want to update a label you should use the `getSpeedDialActionItemBuilder()':

https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/master/sample/src/main/java/com/leinardi/android/speeddial/sample/MainActivity.java#L69

[2019-03-10 08:54] #110 closed, assigned to nobody

[2019-03-10 08:58] leinardi commented on #111
Currently the main fab tinting is not supported.

[2019-03-10 09:14] leinardi commented on #105
Currently there is no support for toggle status of an action item. If you need something like that you have to handle the logic yourself replacing an action item when clicked with another that uses a different color.

[2019-03-10 09:14] #105 closed, assigned to nobody

[2019-03-10 09:15] leinardi commented on #108
This might help: https://stackoverflow.com/a/28041425/293878. Please let me know if you find a solution.

[2019-03-10 09:17] leinardi commented on #112
Duplicate of #100.

[2019-03-10 09:17] #112 closed, assigned to nobody

[2019-03-10 09:20] #85 closed, assigned to leinardi

[2019-03-10 09:45] #100 closed, assigned to leinardi

[2019-03-10 09:50] leinardi commented on #113
I've updated the Sample app so that now uses the Material Component theme but I can't reproduce the issue. Can you please try to reproduce it with the sample app?

[2019-03-10 09:55] leinardi commented on #106
Hey, sorry for the 3 months wait. It looks like the SpeedDial has no space to expand freely. Can you try to ensure that the view is free to grow if needed?

If you can post the XML layout where the view is added.

[2019-03-10 14:35] PkmX commented on #113
I also got the same problem when I upgraded `com.google.android.material:material` from `1.0.0` to `1.1.0-alpha04`.

[2019-03-10 14:35] primozi commented on #113
Did it, but it works (same device/emulator).
Maybe there's a problem with androidx that I use in my app, but you do not?
Didn't try to change sample app to androidx because I have no idea how to do it except manually

[2019-03-10 14:39] primozi commented on #113
@PkmX is right.
1.1.0-alpha04 is the culprit. Downgrade to 1.0.0 solved the issue.

[2019-03-13 01:36] RockyQu commented on #114
Sorry, maybe I didn’t express it clearly.
This means that when the menu is opened, the entire background will become translucent white. How to remove it?

[2019-03-13 01:38] RockyQu commented on #114
Thank you, I just finished.

[2019-03-21 17:28] Zaldroc commented on #94
Did anyone find a fix for this?

[2019-03-22 14:21] RingoMckraken commented on #111
I'm having the same issue, imported a vector asset that is white but still showing black. Is this on the road map to be supported?

[2019-03-26 05:00] untungs commented on #111
I was able to change the icon tint programmatically (Kotlin).

`speedDial.mainFab.imageTintList = ColorStateList.valueOf(Color.WHITE)`

Note that the getMainFab() method returns `com.google.android.material.floatingactionbutton.FloatingActionButton` instead of `android.support.design.widget.FloatingActionButton`, probably due to this setting in gradle.properties.

[code]

[2019-03-31 09:39] #108 closed, assigned to adendiamond

[2019-03-31 10:39] #106 closed, assigned to sauravrp

[2019-04-05 08:03] kalallokesh opened #116 "RuntimeException: Failed to initialise display event receiver."
Any idea why this is happening?
Happening on android 7 & 8

[code]

[2019-04-06 07:52] leinardi commented on #116
Are you able to reproduce this issue using the [Sample app](https://github.com/leinardi/FloatingActionButtonSpeedDial/tree/master/sample)?

[2019-04-06 08:13] #109 closed, assigned to leinardi

[2019-04-08 07:30] TBoehm commented on #111
@untungs have you found a solution to tint the action items too? Or is the only solution to add/tint them programatically?

[2019-04-08 12:32] kalallokesh commented on #116
@leinardi don't have repro for this but  got 300 crashes on Fabric

[2019-04-10 07:26] cylonu87 commented on #111
I was able to tint it with a style, AppTheme is the theme of the activity:

[code]

[2019-04-18 14:26] swapnil-gawali commented on #111
As mentioned by @untungs , this worked for me (JAVA)

`speedDial.getMainFab().setSupportImageTintList(ColorStateList.valueOf(getResources().getColor(R.color.colorPrimaryDark)));`

[2019-04-23 10:58] TBoehm commented on #111
thx @cylonu87 that worked :)

[2019-05-06 11:37] mateidediu93 commented on #84
Hi @leinardi, is there a workaround for this?
The inner circles are visible when adding colors that have a degree of transparency.

Thanks!

[2019-05-06 11:39] leinardi commented on #84
Hi @mateidediu93, unfortunately I'm not aware of any workaround.

[2019-05-08 08:37] mateidediu93 commented on #84
Hi @leinardi .

I've managed to create a workaround by editing the sd_fab_with_label_view.xml and dimens.xml files.

In sd_fab_with_label_view.xml, I've set the **elevation** and **borderWidth** attributes to be equal to **0dp** and corrected the alignment of the mini fabs in **dimens.xml** by increasing the **sd_fab_side_margin** to 16dp.

[code]

    <dimen name="sd_fab_side_margin">16dp</dimen>

[2019-05-20 12:18] DeshanGit opened #119 "SpeedDial Label"
Is it possible to display SpeedDial Label only ??

[2019-05-20 12:21] leinardi commented on #119
Currently there is no such feature.

[2019-05-20 12:21] #119 closed, assigned to nobody

[2019-06-11 06:39] ejChathuranga opened #120 "How to hide fab on clicking anywhere in the screen"
How to hide fab on clicking anywhere in the screen?

[2019-06-11 07:39] leinardi commented on #120
That's the default behavior if you add an overlay. You can check the sample if you want to see an example.

[2019-06-12 18:23] ejChathuranga commented on #120
`<com.leinardi.android.speeddial.SpeedDialOverlayLayout
        android:id="@+id/overlay"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        app:clickable_overlay="true"
        app:layout_behavior="@string/appbar_scrolling_view_behavior"/>`

`    <com.leinardi.android.speeddial.SpeedDialView
        android:id="@+id/speedDial"
      ...
        app:sd

[2019-06-12 18:23] #120 closed, assigned to nobody

[2019-07-03 17:08] Presidente27 opened #121 "Main button click action"
### Step 1: Are you in the right place?
- [ x ] I have verified there are no duplicate active or recent bugs, questions, or requests
- [ x ] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `2.0.1`
 - Android version: `8.0`
 - Support library version: `28`
 - Device brand: `?`
 - Device model: `?`

### Step 3: Describe th

[2019-07-15 09:33] kiewietn opened #122 "Fan expansion mode"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `2.0.1`

### Step 3: Feature request:
Additional expansion mode for speed dial items.
Items fan out in circular fashion. See screen recor

[2019-07-27 08:16] #92 closed, assigned to leinardi

[2019-07-27 08:24] leinardi commented on #92
Released fix: https://github.com/leinardi/FloatingActionButtonSpeedDial/releases/tag/3.0.0

[2019-07-27 08:25] leinardi commented on #100
Released fix: https://github.com/leinardi/FloatingActionButtonSpeedDial/releases/tag/3.0.0

[2019-07-27 08:25] leinardi commented on #109
Released fix: https://github.com/leinardi/FloatingActionButtonSpeedDial/releases/tag/3.0.0

[2019-08-02 14:45] devjn commented on #113
Any update? Still reproducible with latest `com.google.android.material:material` `1.1.0-alpha09`

[2019-08-06 00:37] bagintz opened #124 "setFabImageTintColor() not working?"
I am setting up my speed dial action items by adding them in a fragment.  No matter what I do, the setFabImageTintColor() does not change the icon/image color.  I am not even sure where to start troubleshooting, any ideas?

The only thing I was able to ascertain is that the value of the color after being set is -1

Thanks,
Bryan

[2019-08-07 20:48] roiacult commented on #113
I'm facing same problem and i can't downgrade matrial library
Please any update

[2019-08-08 22:32] roiacult commented on #113
i solved this problem  by setting the drawable image programaticlly every time toggle change like this
`
binding.editButton.setOnChangeListener(object : SpeedDialView.OnChangeListener{

            override fun onMainActionSelected() = false

            override fun onToggleChanged(isOpen: Boolean) {

                binding.editButton.mainFab.setImageDrawable(
                    ContextCompat.g

[2019-08-10 10:19] leinardi commented on #113
The issue seems related to the `UiUtils.getRotateDrawable()` method, specifically, when using version 1.1.x of Material Components, the `rawable.getBounds()` returns 0 as width and height.
https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/dc7396d62f134dd4044f1ce0123af4dad0fcb45a/library/src/main/java/com/leinardi/android/speeddial/UiUtils.java#L236
Currently I have no idea on how to f

[2019-08-15 08:29] leinardi commented on #121
Hi @Presidente27, probably I'm not getting the problem right, but couldn't you use the `isOpen` from `onToggleChanged()` to trigger your desired action only when needed?

If my answer makes no sense, could you please try to explain in a different way what you want to achieve and what is the problem?

[2019-08-20 00:40] bagintz commented on #124
Any thoughts on this?

[2019-08-21 13:33] liltof commented on #124
Same problem here... Any clue ?

[2019-08-21 14:48] liltof commented on #124
@bagintz
Ok I found a workaround :
It seems that the tinting feature on action items is not called when you add an item, but is called when you set it later. This workaround also seems to work **only** when you use the `SpeedDialActionItem.Builder(int, Drawable)` method (not the `SpeedDialActionItem.Builder(int, int)` one. So you need to call `setSpeedDialActionItem` **after** adding the item

Her

[2019-08-26 13:07] codefury commented on #11
Hey @leinardi, are you working on this?

[2019-08-26 13:22] leinardi commented on #11
hey, sorry but I don't have much time lately...

[2019-08-28 21:11] icvetkovic commented on #113
@leinardi have you tried using `getIntrinsicWidth()` and `getIntrinsicHeight()` with fallback to `getBounds()` in case one of these returns -1?

I've stumbled upon same issue on Material Components 1.1.0-alpha09 and quick cloning and changing of the line you marked in your comment fixed the issue in the example app, as shown in the gif below.

[GIF](https://i.imgur.com/c3H1beX.gifv)

[2019-08-29 17:16] leinardi commented on #113
Hey @icvetkovic thanks! That actually fixes the issue :+1:

[2019-08-29 17:42] icvetkovic commented on #113
No problem @leinardi, my pleasure :)

[2019-09-08 04:05] zhanghai commented on #124
#127 might be a fix for this issue, and I would appreciate it if someone on this thread can test it. I encountered a similar problem and submitted that fix.

[2019-09-09 18:55] leinardi commented on #124
@zhanghai I merged your PR.

@bagintz @liltof can you please try to modify the sample project to reproduce the issue? I don't understand how to reproduce it...

[2019-09-09 19:07] emmanuel0027 opened #128 "Open fab doesnt show correctly when label is set"
This is a awesome library but I have a problem when fab is opened and label is set with any text, the fab moves to right side and only show middle fab and action item, when I dont set a label this work correctly

Fab open:
https://imgur.com/a/1GUVv9B

Fab close:
https://imgur.com/a/tRssq9v

[2019-09-09 19:13] leinardi commented on #128
Can you please post the XML of the layout where you are adding the `com.leinardi.android.speeddial.SpeedDialView`?

[2019-09-09 19:14] emmanuel0027 commented on #128
Java:

        speedDialView.addActionItem(
                new SpeedDialActionItem.Builder(R.id.fab_no_label, R.drawable.ic_bus_black)
                        .setFabImageTintColor(ResourcesCompat.getColor(getResources(), R.color.white, getTheme()))
                        .setLabel("Sentidoida")
                        .setFabBackgroundColor(ResourcesCompat.getColor(getResources(), R.color.white

[2019-09-09 19:18] leinardi commented on #128
I would guess that the issue is related to this: `map:layout_constraintStart_toStartOf="@+id/gpsbutton"` but can't be sure without the entire layout, parent included.

[2019-09-09 19:28] emmanuel0027 commented on #128
Yes that was the problem! Sorry and thank u!

[2019-09-09 19:29] #128 closed, assigned to nobody

[2019-09-09 20:02] #111 closed, assigned to nobody

[2019-09-09 20:02] #113 closed, assigned to nobody

[2019-09-09 20:02] #101 closed, assigned to leinardi

[2019-09-11 19:07] DatL4g opened #132 "Custom Animation"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: 3.1.0
 - Android version: 8.1.0 (Oreo)
 - Support library version: `?`
 - Device brand: UMIDIGI
 - Device model: One Max

### Step 3: Des

[2019-09-11 20:26] DatL4g opened #133 "Menu Item Focus Color"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: 3.1.0
 - Android version: 8.0.0 (Oreo)
 - Support library version: `?`
 - Device brand: Sony
 - Device model: BRAVIA 4K GB ATV3

### Step

[2019-09-16 14:27] DatL4g commented on #133
@leinardi
Any progress on this?

[2019-09-17 12:11] DatL4g opened #134 "SpeedDialActionItem setter methods"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: 3.1.0
 - Android version: Oreo (8.1.0)
 - Support library version: `?`
 - Device brand: UMIDIGI
 - Device model: One Max

### Step 3: Des

[2019-09-24 09:10] haxuansang opened #135 "how can I close FAB when touch outside?"
I wanna close FAB when I touch outside that.

[2019-09-30 04:02] orionlee opened #136 "v3.1.0 requires significant more methods in release build"
(It is not necessarily a problem per-se, but a yellow flag for `v3.1.0`.)

### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `3.1.0`
 - Support library version: androidX appcompat `1.1.0`

[2019-09-30 11:30] leinardi commented on #136
Hi @orionlee, I am very sorry that the latest version of SpeedDial is causing you issues, I'm a very happy user of AntennaPod.
Sadly, as you highlighted already on the table above, the new methods are not in the SpeedDial code, but they come from the version 1.1.x of com.google.android.material.
One way to [work around](https://stackoverflow.com/questions/28444016/how-can-i-force-gradle-to-set-the

[2019-09-30 14:52] orionlee commented on #136
Thanks for looking into it.

In AntennaPod, the SpeedDial has recently been used in batch edit screens (of a podcast's episode listing, queue, etc.).

[2019-09-30 19:24] #124 closed, assigned to nobody

[2019-10-04 08:15] alexamenos commented on #11
Is there any news about it @leinardi ?

[2019-10-05 11:05] leinardi commented on #11
I have re-enabled the `setFabSize()` method, it seems to work fine (API 16 and 27):
![image](https://user-images.githubusercontent.com/273338/66254003-837ef600-e770-11e9-8f40-cb022a59eff2.png) ![image](https://user-images.githubusercontent.com/273338/66254029-f12b2200-e770-11e9-8055-66df71ff661c.png)

[2019-10-07 14:45] #11 closed, assigned to leinardi

[2019-10-07 15:05] leinardi commented on #136
Hi @orionlee, I just released a new version, 3.1.1, that is reverting the switch to material component 1.1.0. I'm closing this issue since the problem doesn't exist anymore (until I'll switch back to 1.1.0 once it get released as stable).

[2019-10-07 15:05] #136 closed, assigned to nobody

[2019-10-09 11:11] michaelbukachi commented on #134
Just noticed this also. Isn't there a way to edit action items after addition?

[2019-10-09 18:03] DatL4g commented on #135
You could set a TouchListener on the root view and close it dynamically

[2019-10-09 18:06] leinardi commented on #135
Just use the [SpeedDialOverlayLayout](https://github.com/leinardi/FloatingActionButtonSpeedDial#adding-an-overlaytouch-guard-when-the-menu-is-open-like-inbox-by-gmail) and set the color to transparent.

[2019-10-09 18:06] #135 closed, assigned to nobody

[2019-10-14 10:31] QuentinLB commented on #94
The [issue](https://issuetracker.google.com/issues/77303906) is marked as resolved and I can confirm that the FAB is working well on a 5.1.1(API 22) tablet with `com.google.android.material:material:1.1.0-beta01`, no square ripple with a basic FAB even after a size update.

The only workaround I found was to disable the ripple effect altogether.

[code]
I would really appreciate if anyone from the

[2019-10-15 07:31] QuentinLB commented on #94
Sorry we won't use speeddial.

[2019-10-19 07:47] leinardi commented on #94
Confirmed solved using `com.google.android.material:material`.

[2019-10-19 07:47] #94 closed, assigned to nobody

[2019-10-22 12:23] QuentinLB commented on #94
@leinardi I just saw that you closed the issue and I'm afraid I wasn't clear enough when I made my previous post. I did saw the same square ripple issue on my 5.1.1 tablet, that's how I found this issue in the beginning.
Because I was trying different FAB configurations, I mentioned google's FAB because I could confirm that the issue wasn't coming from it directly since I didn't see the square rip

[2019-10-22 13:23] leinardi commented on #94
I close this issue because I'm not able to reproduce it anymore using `com.google.android.material:material`. Have you tried with that as well? Do you have the same issue using the FAB SpeedDial sample app?

[2019-10-23 08:12] QuentinLB commented on #94
I didn't tried with the FAB SpeedDial sample app, but I did tried on my own code and I still had the issue even with `com.google.android.material:material:1.1.0-beta01`.

As I said I do not intend to use FAB SpeedDial for now it was just to give you more informations in hope to help you narrow down the problem.

[2019-11-11 15:41] jpsemery opened #139 "Orientation change issue"
Orientation issue

Hi

I started using this speed dial and I'm running into an issue with orientation

In protrait mode I load items and set lables. in landscape mode I do noty set the labels

when the activity detects an orientation change I clear the itmes and reload them with labels on or off based on the orientation.
I also set the oriienation of the speed dial itsel and reopen it if it was op

[2019-11-24 15:00] raghavsatyadev opened #140 "[Enhancement] add text in main fab (implement ExtendedFloatingActionButton)"
you may need to implement ExpandableTransformationWidget after extending ExtendedFloatingActionButton to your custom class

[2019-12-03 09:01] oOJohn6Oo opened #141 "How can I set the actionItem's animation delay time to achieve this effect?"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `3.1.1`
 - Android version: `Android O`
 - Support library version: `API14-29`
 - Device brand: `?`
 - Device model: `?`

### Step 3: Des

[2019-12-08 19:36] chayanforyou opened #142 "Place label on the right side (end) of the floating action button"
Please let me know is there any way to place the label on the right side (end) of the floating action menu button?

[2019-12-26 03:16] john990 opened #143 "Please add label on main fab button like Google Doc."
![Screenshot_20191226-111027](https://user-images.githubusercontent.com/5292685/71455677-16a85480-27d1-11ea-9c19-7515b9f390f2.jpg)

[2020-01-06 06:53] john990 commented on #142
I haven't found the relevant ending method, and I have created an issue (https://github.com/leinardi/FloatingActionButtonSpeedDial/issues/143), but I haven't got a reply. Have you found a solution? It seems that it can only be achieved by itself.

[2020-01-12 08:10] chayanforyou commented on #142
Yes, there is no method for it. I got it by modifying myself.

[2020-01-17 09:43] francescogatto opened #144 "Performclick not working"
Hi,
I'm trying to `performclick()` the main fab with this code:
` activity?.detailJoinFab?.performClick()
        activity?.detailJoinFab?.mainFab?.performClick()`

but in both case, is not working. Do you have any tips?

[2020-01-17 09:52] francescogatto commented on #144
just use ` activity?.detailJoinFab?.post { activity?.detailJoinFab?.performClick() }`

[2020-01-17 09:52] #144 closed, assigned to nobody

[2020-02-17 14:52] mbfakourii opened #145 "support"
Will this library be supported now?

[2020-02-17 15:06] leinardi commented on #145
What do you mean by "now"? Has something changed?
Btw, as a general rule, I don't have much free time so I'm mostly working on bugfixes and not on implementing new features.

[2020-02-17 15:51] #145 closed, assigned to nobody

[2020-02-17 16:36] mbfakourii opened #146 "FAB artifact on click when using com.google.android.material:material:1.1.0"
Hi this library is having a problem at Ripple
This is a problem when we click on the fab button
See the picture below to find out

<img src="https://dl.dropboxusercontent.com/s/m8f3ozfow3kyiji/Screenshot_2020-02-17-19-48-52.png">

[2020-02-17 17:00] leinardi commented on #146
Please provide all the information required when you open a bug report:

 - Library version: `?`
 - Android version: `?`
 - Support library version: `?`
 - Device brand: `?`
 - Device model: `?`

[2020-02-17 17:03] mbfakourii commented on #146
Library version: 3.1.1
Android version: API 21 Android 5.1.1
Support library version: Use AndroidX Verison appcompat:1.1.0 And material:1.1.0
Device brand: Huawei
Device model: huawei p7-l10

[2020-02-17 17:05] mbfakourii commented on #146
For better Test change Color overlay to black !

[2020-02-17 17:13] leinardi commented on #146
I can reproduce the issue using `com.google.android.material:material:1.1.0` but it seems already fixed on version `com.google.android.material:material:1.2.0-alpha04`.

I can't do anything about this since it's a bug of the google material library. My advice is to use the version 1.2.0-alpha04 if you can or don't use the material library at all.

[2020-02-17 17:46] mbfakourii commented on #146
i use material:1.2.0-alpha04 But the problem was not solved

[2020-02-17 17:51] mbfakourii commented on #146
if google material library has bug Why this is ok ?
https://material.io/develop/android/components/floating-action-button/

i use both lib FloatingActionButtonSpeedDial and floating action button in the my project but only FloatingActionButtonSpeedDial  has bug !

[2020-02-18 01:53] drakeet commented on #146
Don't use paddingCompat can fix this. I am using this library in my app Pure Writer, and got the same bug on Android 5.1.1, I finally fixed it by using real margins and no clips.

[2020-02-18 07:10] flashiran1 commented on #146
@drakeet
Thanks if you could explain more with an example

[2020-02-18 07:26] drakeet commented on #146
This bug can be reproduced on Android 5.1.1 emulator/AOSP ROM.

[2020-02-18 07:42] mbfakourii commented on #146
@drakeet

Should this line be deleted?

https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/release/library/src/main/java/com/leinardi/android/speeddial/SpeedDialView.java#L766

[2020-02-18 07:45] drakeet commented on #146
Yes, it's the cause.

[2020-02-18 07:53] mbfakourii commented on #146
The bug will be solved
but
This is what it looks like

![123](https://user-images.githubusercontent.com/20955005/74714950-d39eb680-5240-11ea-9d38-6eb194e35daf.jpg)

[2020-02-18 09:01] mbfakourii commented on #146
Items have the same bug :|

[2020-02-18 09:03] mbfakourii commented on #146
@leinardi help :(

[2020-02-25 07:10] BrightVan commented on #146
[code]

[2020-02-25 07:11] BrightVan commented on #146
you can try this:
[code]

[2020-02-25 07:12] BrightVan commented on #94
[code]

[2020-02-25 11:31] mbfakourii commented on #146
@BrightVan
this code remove ripple :( and not work for items

[2020-02-25 14:07] BrightVan commented on #146
the ripple effect is just fab bg become deeper when pressed.
of cource the code remove ripple.there is no other way to solve the problem quickly and compat. it's better than there show a strange ripple when pressed on api 22.
and what is the 'not work for items'  means？the reflection code is for what ?

[2020-02-26 13:37] drakeet commented on #146
I have provided the exact solution:

Remove FAB `setUseCompatPadding(~~true~~)` and use `params.setMargins(padding, padding, padding, padding)` instead. In the same time, `setClipChildren(false))` in its parent view.

I am sorry, I made a lot of local changes to this library, so I can’t create a PR or share related code directly. But I can take a screenshot for the source code:

![image](https://u

[2020-03-09 17:51] CarlyAdam opened #147 "Failed to resolve: cardview"
### Environment
 - Library version: `3.1.1`
 - AndroidStudio version: `3.6`
 - Support library version: `1.1.0`
 - Material library version = `1.1.0`
- OS: Ubuntu 18.04

### Problem problem:
ERROR: Failed to resolve: cardview

P.S: Thanks for your amazing job on this project.

[2020-03-10 04:58] ghost opened #148 "Option to not close menu when all action items are removed"
I have this scenario where I'm switching from one set of buttons to another. To achieve this, I need to remove the current Action Items, then add the new set of Action Items, and finally reopen the menu. I was wondering if it would be worthwhile to make a modification so the menu does not close when all action items are removed.

[2020-03-26 21:11] moisoni97 commented on #139
Hi!
There is no need to manually not to set labels.

You can try this code and the labels will be automatically hidden in landscape mode.

    @Override
    public void onConfigurationChanged(@NonNull Configuration newConfig) {
        super.onConfigurationChanged(newConfig);
        if (newConfig.orientation == Configuration.ORIENTATION_PORTRAIT) {

            speedDialView.setOrientation(Linear

[2020-06-19 05:09] flocke opened #149 "Accessibility issues"
I use the SpeedDial in my project (https://github.com/andOTP/andOTP) and a user recently opened an issue regarding the accessibility of the app which included some comments regarding the FAB menu. I was able to fix some of them myself, but there are still some things left which should be handled by the menu itself:

* When the FAB is pressed and the overlay shown:
    - One of the options displaye

[2020-06-24 06:08] aminPial opened #150 "From Where do you get the id of a floating action label id?"
[code]
from where you get `R.id.fab_no_label`, can't really understand!:( Sorry for this dumb question.

[2020-06-27 08:28] leinardi commented on #150
Hi @aminPial, those ids are declared here: https://github.com/leinardi/FloatingActionButtonSpeedDial/blob/release/sample/src/main/res/values/ids.xml

You can do the same on your project, just declare them like this inside your resources' values: `<item name="fab_no_label" type="id" />`.

[2020-06-27 10:16] leinardi commented on #149
Hi @flocke, I should have fixed all the issues (or provided a way to fix them downstream). Could you please have a look at the PR and let me know what you think?

[2020-07-04 17:58] #150 closed, assigned to nobody

[2020-07-06 08:56] Makzimalist opened #152 "Colors don't react on Day/Night theme change."
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `3.1.1`
 - Android version: `8-10`
 - Support library version: `androidx 1.1.0`

### Step 3: Describe the problem:
#### Steps to reproduc

[2020-07-22 11:53] MFlisar opened #153 "Snackbar behaviour breaks clicks, scrolling and similar for one touch"
### Step 2: Describe your environment
 - Library version: 3.1.1
 - Android version: 9

### Step 3: Describe the problem:
#### Steps to reproduce:

What I do is following:
  * I add a simply view like following:
[code]
* I add a few items to my `RecyclerView`
* the items are not scrollable yet because they all fit on the screen
* now I try to scroll down
* afterwards I see what I describe under *Ob

[2020-07-22 11:57] MFlisar commented on #153
Example layout looks like following in my case:

[code]

[2020-07-27 02:16] Timan86 opened #154 "How to modify the fabitem location"
when i set label size to 60, the label not alignment with main fab. How to set the label item margin or gravity?

[2020-08-10 22:59] kabumere commented on #142
@chayanforyou @john990 If you still need this functionality, the [ExpandableFab](https://github.com/nambicompany/expandable-fab) library allows you to do this out of the box.

[2020-09-04 04:30] sakshampruthi opened #155 "Custom Fab Size"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `3.1.1`
 - Android version: `all`

### Step 3: Describe the problem:
Option to customize fab size is not available. There is a default pa

[2020-09-18 06:32] brandonrains77 commented on #84
Having the same issue, i could not locate the sd_fab_with_label_view.xml what path was your located in?

[2020-09-18 06:33] brandonrains77 commented on #84
Having the same issue where did you find the sd_fab_with_label_view.xml file at?

[2020-10-28 10:43] Khareesh0892 commented on #152
Same issue.
When a day/night theme is applied i.e `onCreate()` is re-triggered in my case but `mExpandFabView` somehow retains the old theme. But when i close app and restart then it works correctly.

Here is my sample code
[code]

Code from ThemeUtils
[code]

@leinardi Am i doing something wrong or is that expected? Please help me i am stuck.

[2020-11-14 03:26] MackHartley opened #156 "BottomNavigationView question: How to make SpeedDialOverlay cover the bottom nav bar?"
Hey there, great library. One question though, how do you make the `SpeedDialOverlay` appear over a `BottomNavigationView`? Whenever the overlay comes up, it doesn't cover the bottomnavbar even though they are in the same layout file.

[2020-11-14 20:22] MackHartley commented on #156
I looked a bit more into this and it seems this happens because the `BottomNavigationView` has an elevation of 7 or 8. Thus, this can be fixed by adding `android:elevation="9dp"` to your `<SpeedDialOverlay />` . However, it seems the `SpeedDialOverlay` class doesn't accept/use the elevation attribute. Perhaps this needs to be added in it's init method:

[code]

In the mean time, one can get around

[2020-11-14 20:28] MackHartley commented on #156
Note: Just worked with this a bit more, it's probably best to use a ConstraintLayout instead as you also have to put the Fab in the same layout so the overlay doesn't cover the Fab

[2020-11-28 13:57] leinardi commented on #152
Hi, sorry for the late reply but I'm struggling to find some free time lately.

So, I tried to reproduce the issue but I was not able: DayNight theme works fine for me:

![image](https://user-images.githubusercontent.com/273338/100517261-aa289900-3189-11eb-9bb9-99593edbc53f.png)
![image](https://user-images.githubusercontent.com/273338/100517264-af85e380-3189-11eb-908b-adb400b01ded.png)

I just pu

[2020-12-19 13:58] #152 closed, assigned to nobody

[2020-12-20 18:43] LuX1nAt0r opened #157 "SpeedDial is moving when it's pressed"
So I tried to implement the speeddial into my layout witch is a coordinator layout. I have a bottomappbar and I want to have the fab in the bottom middle but when I press the fab and the speeddialer expends it moves like a hundret dp to the right. Is there an easy way to fix this issue?

[2020-12-21 15:31] #157 closed, assigned to nobody

[2020-12-22 17:10] #142 closed, assigned to nobody

[2020-12-31 05:47] MackHartley commented on #152
Hey there, I just wanted to confirm I am also having this issue. If I set the speed dial color to ?attr/speedDialColor then the color will not change when I switch to dark mode.

I'm currently trying to figure out a way around this using themes, but I can't figure out how to change the mini fab colors via theme. However I'm pretty sure this bug is valid.

[2020-12-31 05:48] #156 closed, assigned to nobody

[2020-12-31 05:58] MackHartley commented on #152
Just an update, I figured out a way around this bug. Just set a theme on your speed dial view and then create a theme like this:
[code]
It seems like `colorAccent` controls the main fab color and `colorPrimary` controls the mini fab color.

Also thanks a bunch for this library! It's amazing and looks great!

[2021-01-19 15:59] kriztan opened #158 "Set custom action button color via layout variable"
- Library version: `3.1.1`
 - Android version: `10`
 - Support library version: `com.google.android.material:material:1.2.1`
 - Device brand: `doesn't matter`
 - Device model: `doesn't matter`

### Step 3: Describe the problem:
#### Steps to reproduce:

  1. creating a menu via menu.xml
  2. use this menu in fab
  3. white icons in menu.xml are visible as black icons
  4. action button background

[2021-02-04 04:06] VincentJoshuaET opened #159 "Publish latest version to Maven Central, now that JCenter will be sunset"

[2021-02-05 04:33] VincentJoshuaET commented on #159
Looks like 3.1.1 is available on Jitpack:

`implementation 'com.github.leinardi:FloatingActionButtonSpeedDial:3.1.1'`

[2021-03-08 19:21] flocke commented on #149
@leinardi Thank you for implementing this, I have to apologize for being so slow to review it. I must admit that I totally forgot about this issue...

I took your changes for a spin in andOTP and it seems like they are working nicely.

There are only two things I found that could be problematic:

1. If you focus the overlay there is no content description, it can be set downstream by calling the `

[2021-03-21 03:38] MackHartley commented on #152
Hey folks, I've ran into this issue again but for the fab icon color. So far I can't find a way to update the fab icon color when the day / night theme changes. If anyone know's a fix I'd love to hear it.

Edit: I browsed through some old issues and found issue #111  in which someone stated that `colorOnSecondary` changes the fab icon color. That did the trick for me. I simply added this line to t

[2021-03-24 14:20] fabiankr opened #164 "New Release, e.g. version 3.2.0?"
Version 3.1.1 from October 2019 is still the latest released version. In the meantime there have been lots of fixes to this project. Will you release a newer version of the library or are changes from master still considered error-prone?

[2021-03-24 14:51] leinardi commented on #164
Hi @fabiankr, if you check the [commit history](https://github.com/leinardi/FloatingActionButtonSpeedDial/commits/master) you'll notice that, beside the new features implemented by @S-H-Y-A, it is mostly dependencies updates.

I would prefer to wait a little before releasing a new update, I need to gather feedback to be sure that there are no regression.

If you want, you can help to speed up this

[2021-03-24 14:54] fabiankr commented on #164
I noticed. I'm mainly interested in the dark theme adjustments. I'm already using the SNAPSHOT build and if I notice any issues I'll let you know. It'd just be nice to use the released version soon.

Thanks for the fast reply! :)

[2021-03-24 14:54] #164 closed, assigned to nobody

[2021-03-24 14:59] leinardi commented on #164
Glad to hear that you are already using it! Please report back in 1-2 weeks and, if you'd have found no issue, I'll probably make a new release :)

[2021-04-12 08:38] PhantomLord72 opened #165 "Cannot resolve symbol 'colorOnSecondary'"
In UiUtils, master branch

[2021-04-27 21:57] jackmichalak commented on #159
Can the maintainers confirm whether they'll be migrating to Maven Central? (For the most recent version at least?) Not sure why I'd have any more confidence in JitPack staying around than JCenter.

[2021-04-28 07:03] leinardi commented on #159
I would like to but I never published anything on Maven Central and it seems to be way more complex (at least for me) than publishing something on Bintray: https://getstream.io/blog/publishing-libraries-to-mavencentral-2021/

@jahirfiquitiva would you be able to provide support for this?

[2021-04-28 15:23] jahirfiquitiva commented on #159
@leinardi count on me, although this might take me a few days, I'm quite busy lately ... also, do you have somewhere we can talk privately to share the generated keys, secrets and stuff?

[2021-05-20 12:39] fei0316 commented on #149
Any updates on when this will be included in a release?

[2021-05-22 11:07] leinardi commented on #149
Hi @fei0316 I'm trying to have a new release over this weekend.

[2021-05-22 11:08] leinardi commented on #159
OK, I think I'm very close:
![image](https://user-images.githubusercontent.com/273338/119224432-b705c400-bafe-11eb-9b6d-0b555cf6d533.png)

[2021-05-22 13:00] jahirfiquitiva commented on #159
@leinardi yes you are... just close, refresh, release 😄

[2021-05-22 19:00] #149 closed, assigned to nobody

[2021-05-22 19:00] #159 closed, assigned to nobody

[2021-05-22 19:01] leinardi commented on #164
Release 3.2.0 available on Maven Central: ![Maven Central](https://img.shields.io/maven-central/v/com.leinardi.android/speed-dial)

[2021-05-22 19:02] leinardi commented on #159
Release 3.2.0 is available on Maven Central: https://repo1.maven.org/maven2/com/leinardi/android/speed-dial/maven-metadata.xml

[2021-05-22 19:03] leinardi commented on #149
Release 3.2.0 is available on Maven Central: https://repo1.maven.org/maven2/com/leinardi/android/speed-dial/maven-metadata.xml

[2021-05-23 15:32] fei0316 opened #168 "Stack overflow and fabImageResource not working."
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `3.2.0`
 - Android version: `10`
 - Support library version: `com.google.android.material:material:1.3.0`
 - Device brand: `OnePlus`
 - D

[2021-05-24 09:05] leinardi commented on #168
Hi @fei0316, thank you for reporting this bug. I have fixed the stack overflow, but I can't reproduce the issue with the missing icons on the action FABs.

If possible, could you please clone the project repository, checkout the master branch and try to reproduce the issue using the `sample` app?

My suggestion is to try to reproduce the issue modifying the `MainActivity`: https://github.com/leina

[2021-05-24 10:54] fei0316 commented on #168
Thank you for the quick fix. I am still testing where the problem comes from. Cloning your repo and running on my device is working fine, though.
Another problem I found is that if both `setLabel` and `setContentDescription`  are set on an action FAB, TalkBack will use the text from `setLabel` not `setContentDescription`. `setContentDescription` is only used if `setLabel` is not set.

[2021-05-24 12:08] fei0316 commented on #168
I have done a bit more experimenting with my app vs the sample app. I made a new activity on my app with just a FAB view. I find that just copying the layout XML and Java file for the activity into your sample project would make the icon appear, so I think that rules out any code issues. Though there are still many things I can try changing (imported libraries, resources, permissions, etc.), I thi

[2021-05-24 12:15] leinardi commented on #168
`3.1.1 ` was released in 2019 so lot of things have changed, especially regarding dependencies updates.
You can figure out exactly what has changed checking the git log: https://github.com/leinardi/FloatingActionButtonSpeedDial/commits/release?after=dab93d5e3d8efc984e956d4144f473505ec253d0+34&branch=release

[2021-05-25 07:52] fei0316 commented on #168
I have done more testing, and I think the problem lies in `AppCompatResources.getDrawable` which is in `androidx.appcompat`. Since the same code produces different results on my project vs yours, I suspect it's a configuration problem in my project but I have compared my Gradle and AndroidManifest file with yours and couldn't find anything suspicious. I'm really stuck on how to fix the problem to

[2021-05-25 08:32] leinardi commented on #168
Unfortunately I do not have time to do it myself but could you double check if you are using the exact same version of all the dependencies? Also, try to remove some dependencies that are not in the sample app of speed dial, just for test, to see if maybe some transient dependency is messing with the library.

This might also help you: https://docs.gradle.org/current/userguide/viewing_debugging_de

[2021-05-27 21:31] jackmichalak opened #169 "Grey square shown on focused FAB on API 22"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `3.2.0`
 - Android version: `5.1.1`
 - Support library version: `1.3.0` (androidx appcompat)
 - Device brand: `Nexus 6 Emulator` (tried o

[2021-06-02 09:48] PhantomLord72 opened #170 "Elevation not computed"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: 3.2.0
 - Android version: 10
 - Support library version:
 - Device brand: samsung
 - Device model: A20

### Step 3: Describe the problem:

[2021-06-05 08:16] leinardi commented on #170
Hi, to avoid the issue you are experiencing, you can change the `app:cardUseCompatPadding` from `true` to `false`.

[2021-06-06 13:23] DrMontorsi commented on #169
Yes, I, too, find this feature not quite right. We had to use 3.1.1 for our project because it fits better.

[2021-06-08 17:48] xoif commented on #168
The update from 3.1.1 to 3.2.0 also led to missing fab icons in my project. I didn't find the time yet to further investigate the root cause (especially as 3.1.1 is running perfectly for me). Still I have the feeling that this could be related to the fact that I'm using vector drawables and not regular png drawables as icons.

[2021-06-13 21:47] ziegenberg commented on #168
Updating to version 3.2.0, I can confirm that the fab icons go missing. For andOTP I tried to update the dependency: https://github.com/andOTP/andOTP/pull/843; you can check out this PR.

[2021-06-14 08:41] leinardi commented on #168
Could someone experiencing the issue try to reproduce it using the sample app?
https://github.com/leinardi/FloatingActionButtonSpeedDial/tree/master/sample

If you are able to reproduce it, please let me know the version of Android that you tested it on.

[2021-06-17 22:40] moisoni97 commented on #168
I have the same problem with fab icons go missing.
I've tried to reproduce the problem but I can't. I have implemented the exact same code from my project into the sample app and it just works.

One thing that I notice and for now is a `workaround`, setting an image tint color makes the image appear:
`.setFabImageTintColor(ContextCompat.getColor(mActivity, R.color.white))`

Another thing is that,

[2021-06-18 09:09] cryinrain69 opened #174 "Main item and action item cannot display color images ?"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: 3.2.0
 - Android version: 10
 - Support library version:
 - Device brand: Samsung
 - Device model: S8+

### Step 3: Describe the problem:

[2021-06-21 03:59] cryinrain69 commented on #174
@leinardi Please help me.

[2021-06-21 10:05] leinardi commented on #174
Hi @cryinrain69, I'm sorry but transparent background for fabs is not supported and the icon must be tintable (as in monocromatic).

[2021-06-21 10:10] cryinrain69 commented on #174
Hopefully it will be supported in the next version, otherwise it's a pity for a good lib.
Thank you.

[2021-06-21 10:12] leinardi commented on #174
I currently do not have plans to implement this feature myself but Pull Requests are welcome.

[2021-06-27 13:20] fei0316 commented on #168
@moisoni97 Thank you very much for the workaround! I actually need to use this version as I wanted to add accessibility support to my app, so this was very helpful. I also hope that it helps the author find the bug.

[2021-06-30 14:09] CarlosVF2 opened #175 "Move repository Jcenter to mavenCentral()"
Hi!

I've the question about if is possible to move the version1.0-alpha05 to mavenCentral. Link -> https://mvnrepository.com/artifact/com.leinardi.android/speed-dial
Actually it's only new version but not the version that we use, is it possilbe to move?

The reason about this change is the notice of obligation to migrate all repositories to mavenCentral. Link : https://developer.android.com/studi

[2021-06-30 20:29] leinardi commented on #175
Hi @CarlosVF2, unfortunately there is no plan to migrate older versions of the library to MavenCentral, but the latest and newer versions will use it.

If you need to use an older version, you can get it via JitPack: https://jitpack.io/#leinardi/FloatingActionButtonSpeedDial/1.0-alpha05

But, if I may ask, why are you using version `1.0-alpha05`? It is really old.

[2021-07-02 07:49] CarlosVF2 commented on #175
Hi @leinardi ,

At first, thanks a lot for your answer. The reason why  we are using that version is for the compatibility.

We will consider your answer to use jitpack.

Again, thanks a lot.

[2021-11-18 08:44] Patcharapol9380 opened #176 "Jj"

[2021-11-18 09:18] #176 closed, assigned to nobody

[2021-11-21 22:57] yourealwaysbe commented on #168
Another workaround: set colorOnSecondary in styles.xml. E.g.

        <item name="colorOnSecondary">#ffffff</item>

Calling .setFabImageTintColor doesn't seem to be possible if inflating the menu from a menu.xml.

[2021-11-24 15:03] FaridBen95 commented on #157
@LuX1nAt0r did you find any solution for this issue ??

[2021-12-18 18:05] brookmg opened #177 "Material You support"
Is there any plan to add material you support on this library?

[2021-12-18 21:14] #177 closed, assigned to nobody

[2021-12-28 04:58] cryinrain69 opened #178 "Conflict animation with BottomSheetDialogFragment"
I integrated with newest lib version (3.2.0) but conflict animation with BottomSheetDialogFragment.
Please recheck lib.
Thanks.

[2022-03-25 15:01] fernandomantoan commented on #169
I have the same issue but running it on API 32 now, there is some kind of square in the button's focused state. Did anyone find a way to keep everything rounded?

![Screenshot_20220325_143448](https://user-images.githubusercontent.com/210359/160172624-0a4dfdef-c587-4bb9-9c87-2a2f575a6b78.png)

Using:

[code]

On the sample project.

[2022-03-25 19:07] fernandomantoan commented on #169
The only way I found to solve the issue was setting `rippleColor = Color.TRANSPARENT` like the following:

[code]

@leinardi Is that the best way to solve this? Do you know if maybe this is a bug related to Material's Library FAB?

[2022-03-26 11:15] leinardi commented on #169
@fernandomantoan I'm not aware of any other solution. The bug seems to happen only on API 31+. It seems definitely an upstream bug, most probably on `com.google.android.material:material`.

[2022-03-26 11:25] fernandomantoan commented on #169
Ok, thank you anyway. Regards.

[2022-03-26 11:27] leinardi commented on #169
I'm opening an issue on the material component library, I can reproduce the issue with just this simple layout:
[code]

[2022-03-26 11:40] leinardi commented on #169
I have opened an issue upstream, please consider giving it a :+1:  for visibility:
https://github.com/material-components/material-components-android/issues/2617

[2022-03-28 14:18] fernandomantoan commented on #169
After seeing your snippet I noticed that this attribute is causing the issue: `app:useCompatPadding="true"`.

There is an issue opened for this here: https://issuetracker.google.com/issues/37088292 with the status `Won't Fix`.

[2022-03-28 14:20] leinardi commented on #169
Doesn't seem related since is not involving `com.google.android.material:material` nor API 31+.

[2022-03-28 14:28] fernandomantoan commented on #169
I don't know but after removing `app:useCompatPadding="true"` the issue is gone. Is there any specific reason to use this attribute? I ask this because I've never used it before.

[2022-03-28 17:40] leinardi commented on #169
Are you really sure you don't have the issue? I can still reproduce it without the `app:useCompatPadding="true"`, if I use the `app:fabSize="mini"`:
![image](https://user-images.githubusercontent.com/273338/160455508-387ceefa-0e07-40ce-ae1d-8153540b95f8.png)
[code]

Repro branch available here: https://github.com/leinardi/FloatingActionButtonSpeedDial/tree/issue-2617

[2022-03-28 17:58] fernandomantoan commented on #169
You are right, setting `app:fabSize="mini"` will also result in a bugged shadow.

<img width="162" alt="Screen Shot 2022-03-28 at 15 01 24" src="https://user-images.githubusercontent.com/210359/160458983-ee9705f1-3cf7-488b-82fa-c54c1556609f.png">

[2022-05-06 16:42] ferraridamiano opened #179 "Set main fab icon programatically"
Is it possible to change main fab icon programmatically? I tried this but it doesn't change:

[code]

[2022-05-15 09:15] PhantomLord72 opened #182 "Compose is useless"
Questo compose non mi è mai piaciuto, mi auguro che continui un branch sulla versione non-compose.

[2022-05-15 09:16] leinardi commented on #182
I disagree, I really like Compose :slightly_smiling_face:

[2022-05-15 09:16] #182 closed, assigned to nobody

[2022-05-15 09:31] #168 closed, assigned to nobody

[2022-05-28 09:56] Bubu commented on #168
Thanks, this actually fixes it down to API level 19, which doesn't know about tint color yet.

[2022-09-10 07:48] xXRayxX9812 opened #186 "Floating action button"

[2022-09-11 11:38] #186 closed, assigned to nobody

[2022-10-02 15:07] SergeiMikhailovskii commented on #179
u can use methods

[code]

[2022-10-10 02:15] rochat2 opened #187 "Library error"
when library "com.leinardi.android:speed-dial:3.3.0" is implemented android studio does not detect it and generates errors as if it did not have the library installed it is functional when it is changed to version 3.2.0

[2022-10-10 02:30] rochat2 opened #188 "How to set multicolor icon of mini fab?"

[2022-10-10 07:43] leinardi commented on #187
Version `3.3.0` was released in may and no one else complained about such error before. Are you sure the library is not found at all? Do you get a maven error? Can you post exactly the error you are getting?

[2022-10-10 13:49] rochat2 commented on #187
of course this is the error that android studio shows me

![Picsart_22-10-10_09-32-00-127.png](https://user-images.githubusercontent.com/17464224/194881617-bcfcfece-f5c0-4cc2-a065-f7ca1b21448a.png)

![Picsart_22-10-10_09-35-02-231.png](https://user-images.githubusercontent.com/17464224/194881659-6127f24f-7b66-428a-af4c-e7d3886f110e.png)

![Picsart_22-10-10_09-38-55-256.png](https://user-images.git

[2022-10-10 14:35] leinardi commented on #187
I can't reproduce this issue: for me it just works fine.

Can you please try to

1. download this repository (branch master)
2. edit the file `sample/build.gradle` and replace the line `implementation projects.libraryView` with ` implementation "com.leinardi.android:speed-dial:3.3.0"`
3. run the sample app

For me builds and runs fine so I really don't know why it does not work for you.

Additiona

[2022-10-28 04:58] dkshin opened #189 "Using "speedDialView.isEnabled = false" moves the position down."
Using "speedDialView.isEnabled = false" moves the position down.

[2022-11-22 23:25] stephentalley opened #190 "need a material 3 version of FloatingActionButtonSpeedDial"
### Step 1: Are you in the right place?
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests
- [x] I have verified that I am using the latest version of the library.

### Step 2: Describe your environment
 - Library version: `com.leinardi.android:speed-dial.compose:1.0.0-alpha04`
 - Android version: `any`
 - Support library version: `any`

### Step 3: Describe

[2022-11-23 10:41] leinardi commented on #190
Hi, I actually have already done some work to support Material 3 (source available on the m3 branch):
![image](https://user-images.githubusercontent.com/273338/203525964-908e2d2d-2a32-4d41-8458-b373df314b08.png)

I didn't announced officially, but there is an early alpha release for compose that you could try: `com.leinardi.android:speed-dial.compose:2.0.0-alpha01`.

If you do, please let me know